
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483667923850'); /* IE9*/
  src: url('iconfont.eot?t=1483667923850#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483667923850') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483667923850') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483667923850#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duihao:before { content: "\e623"; }

.icon-duihaocuohao54:before { content: "\e615"; }

.icon-shangyiqu:before { content: "\e622"; }

.icon-xiayiqu:before { content: "\e624"; }

.icon-jiahao:before { content: "\e62e"; }

.icon-zanting:before { content: "\e60f"; }

.icon-shangyiye-copy:before { content: "\e600"; }

.icon-wenjian:before { content: "\e640"; }

.icon-bofang:before { content: "\e62f"; }

