@import './common.scss';
@import './singer.scss';
@import './guide.scss';
@import './login.scss';

@import './index-style.scss';
@import './register.scss';
@import './music.scss';
@import './wifi.scss';

@import './song.scss';
@import './files.scss';
@import './scan.scss';


@import './theme.scss';
@import './guide-start.scss';
@import './search.scss';
@import './themecon.scss';

.wrapper{
	font-size: .14rem;
	width: 100%;
	height: 100%;
	background: url(../../img/Wifi-1.jpg) no-repeat;
	background-size: 100% 100%;
	@include box-flex();
	@include direction(column);
	overflow: hidden;
}
.icon{
	font-family: "iconfont";
}

.icon1{
	font-family: "iconfont1";
}

i{
	font-weight: normal;
	font-style:normal;
}
b{
	font-weight: normal;
}
