* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
.singer-head {
  height: .44rem;
  width: 100%; }
  .singer-head ul {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    .singer-head ul li {
      line-height: .44rem;
      text-align: center;
      color: #fff; }
      .singer-head ul li:nth-child(2) {
        -webkit-flex: 1;
        flex: 1; }
      .singer-head ul li:not(:nth-child(2)) {
        width: .44rem;
        height: .44rem; }

.singer-con {
  overflow: hidden;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  -webkit-flex: 1;
  flex: 1; }
  .singer-con .singer-info ul {
    color: #fff;
    position: relative;
    border-bottom: 1px solid #616161; }
    .singer-con .singer-info ul li {
      text-align: center; }
      .singer-con .singer-info ul li:nth-child(1) {
        height: .9rem; }
        .singer-con .singer-info ul li:nth-child(1) img {
          width: .9rem;
          border-radius: 50%;
          height: .9rem; }
      .singer-con .singer-info ul li:not(:nth-child(1)) {
        line-height: .36rem; }
    .singer-con .singer-info ul p {
      position: absolute;
      bottom: .12rem;
      right: .2rem;
      width: .38rem;
      height: .23rem;
      border: 1px solid #fff;
      line-height: .23rem;
      text-align: center; }
  .singer-con .singer-nav {
    width: 100%;
    height: .55rem; }
    .singer-con .singer-nav ul {
      color: #fff;
      width: 100%;
      height: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex; }
      .singer-con .singer-nav ul li {
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: -ms-flex;
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
        line-height: .25rem;
        -webkit-flex-direction: column; }
        .singer-con .singer-nav ul li:not(:nth-child(1)) {
          background: url(../../img/gang.gif) left no-repeat;
          background-size: .03rem .3rem; }
        .singer-con .singer-nav ul li i {
          font-style: normal; }
        .singer-con .singer-nav ul li b {
          font-weight: normal; }
        .singer-con .singer-nav ul li.singer-active {
          border-bottom: 3px solid #00D8FF; }
  .singer-con .swiper-container {
    width: 100%; }
  .singer-con .swiper-wrapper {
    height: 100%; }
  .singer-con .singer-song {
    background: #fff;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden; }
    .singer-con .singer-song ul {
      background: #fff; }
      .singer-con .singer-song ul li {
        line-height: .44rem;
        border-bottom: 1px solid #C8C8C8;
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: -ms-flex; }
        .singer-con .singer-song ul li span:nth-child(1) img {
          width: 100%;
          height: 100%; }
        .singer-con .singer-song ul li span:not(:nth-child(2)) {
          width: .44rem;
          height: .44rem;
          text-align: center; }
        .singer-con .singer-song ul li span:nth-child(2) {
          -webkit-flex: 1;
          flex: 1;
          margin-left: .1rem; }

.singer-foot {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  width: 100%;
  height: .5rem;
  background: #353535;
  border-top: .03rem solid #979797;
  position: relative; }
  .singer-foot dl, .singer-foot ul {
    -webkit-flex: 1;
    flex: 1; }
  .singer-foot img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%; }
  .singer-foot dl {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    .singer-foot dl dt {
      width: .52rem;
      padding: .05rem .08rem; }
    .singer-foot dl dd {
      -webkit-flex: 1;
      flex: 1; }
      .singer-foot dl dd span {
        display: block; }
        .singer-foot dl dd span:nth-child(1) {
          color: #fff; }
        .singer-foot dl dd span:nth-child(2) {
          color: #CCCCCC; }
        .singer-foot dl dd span:nth-child(3) {
          color: #909090; }
  .singer-foot ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    .singer-foot ul li {
      -webkit-flex: 1;
      flex: 1;
      color: #fff;
      text-align: center;
      line-height: .5rem; }
      .singer-foot ul li:not(:nth-child(2)) {
        font-size: .24rem;
        color: #b1b1b1; }
      .singer-foot ul li:nth-child(2) {
        font-size: .32rem; }
        .singer-foot ul li:nth-child(2) i:nth-child(2) {
          display: none; }
  .singer-foot .dot {
    width: 70%;
    height: .03rem;
    background: #2B8C9F;
    position: absolute;
    left: 0;
    top: -.03rem; }
    .singer-foot .dot img {
      width: .13rem;
      height: .13rem;
      position: absolute;
      right: -.05rem;
      top: -.05rem; }

* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
.guide {
  font-size: .14rem;
  width: 100%;
  height: 100%;
  background: url(../../img/tu-bg.jpg) no-repeat;
  background-size: 100% 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  overflow: hidden; }

.guide-mark {
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.8); }
  .guide-mark p {
    text-align: center; }
    .guide-mark p:nth-child(1) {
      margin-top: 40%;
      width: 100%;
      height: 1.3rem; }
      .guide-mark p:nth-child(1) img {
        height: 100%;
        border-radius: 50%; }
    .guide-mark p:nth-child(2) img {
      width: 1.7rem; }
    .guide-mark p:nth-child(3) {
      width: 80%;
      background: #000000;
      border-radius: 12px;
      color: #fff;
      line-height: .6rem;
      margin-top: .15rem;
      font-size: .18rem;
      margin-left: 10%;
      font-weight: bolder; }
    .guide-mark p:nth-child(4) {
      font-size: .18rem;
      width: 80%;
      background: #fff;
      color: #000;
      border-radius: 12px;
      line-height: .6rem;
      margin-top: .22rem;
      margin-left: 10%;
      font-weight: bolder; }
  .guide-mark div {
    text-align: center;
    margin-top: 1rem; }
    .guide-mark div img {
      width: 2.5rem; }

* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
.singer-head {
  width: 100%;
  height: 0.44rem; }
  .singer-head ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: 100%; }
    .singer-head ul li {
      color: #fff;
      height: .44rem;
      line-height: .44rem;
      text-align: center; }
      .singer-head ul li:nth-child(2) {
        -webkit-flex: 1;
        flex: 1;
        height: .44rem;
        line-height: .44rem; }
      .singer-head ul li:not(:nth-child(2)) {
        width: .44rem;
        height: .44rem; }

.login-con {
  width: 100%;
  color: #fff; }
  .login-con ul {
    width: 100%;
    font-size: .16rem; }
    .login-con ul li {
      text-align: center; }
      .login-con ul li:nth-child(1) {
        margin-top: .2rem; }
        .login-con ul li:nth-child(1) img {
          width: 1.2rem;
          border-radius: 50%; }
      .login-con ul li:nth-child(3) {
        margin-top: .58rem;
        margin-bottom: .15rem; }
        .login-con ul li:nth-child(3) input {
          height: .35rem;
          width: 2rem;
          border-radius: .05rem;
          background: #fff; }
      .login-con ul li:nth-child(4) input {
        height: .35rem;
        width: 2rem;
        border-radius: .05rem;
        background: #fff; }
      .login-con ul li:nth-child(5) {
        margin-left: 1.8rem;
        margin-top: .15rem; }
      .login-con ul li:nth-child(6) {
        margin-top: .65rem; }
        .login-con ul li:nth-child(6) p {
          margin: 0 auto;
          width: 2.56rem;
          background: #191919;
          height: .52rem;
          line-height: .52rem;
          border-radius: .05rem;
          color: #fff; }
      .login-con ul li:nth-child(7) {
        margin-top: .1rem;
        text-align: left;
        margin-left: .6rem; }

* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
.index-header, .menu-header {
  height: .44rem;
  line-height: .44rem;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  color: #fff;
  border-bottom: 1px solid #333; }
  .index-header li:first-child, .menu-header li:first-child {
    width: .5rem;
    margin-left: .1rem; }
  .index-header li:nth-of-type(2), .menu-header li:nth-of-type(2) {
    -webkit-flex: 1;
    flex: 1;
    text-align: center; }
  .index-header li:last-child, .menu-header li:last-child {
    width: .5rem; }
  .index-header span, .menu-header span {
    width: .4rem;
    text-align: center; }
  .index-header b, .menu-header b {
    -webkit-flex: 1;
    flex: 1;
    text-align: center; }

.index-nav {
  width: 100%;
  height: .33rem;
  line-height: .33rem;
  text-align: center;
  background: #4b4b4b;
  color: #fff;
  border-bottom: .02rem solid #fff; }
  .index-nav ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    height: .35rem; }
    .index-nav ul li {
      -webkit-flex: 1;
      flex: 1;
      border-right: .02rem solid #333; }
      .index-nav ul li:last-child {
        border-right: none; }
    .index-nav ul .on {
      border-bottom: .04rem solid #00d8ff; }

.index-banner, .index-bannerHome {
  width: 100%;
  margin-bottom: .05rem; }
  .index-banner ul, .index-bannerHome ul {
    width: 100%; }
    .index-banner ul li img, .index-bannerHome ul li img {
      display: block;
      width: 100%;
      height: 100%; }

.index-pics {
  width: 100%;
  margin-bottom: .05rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex; }
  .index-pics .empty {
    width: .1rem; }
  .index-pics dl {
    -webkit-flex: 1;
    flex: 1;
    position: relative; }
    .index-pics dl dt {
      width: 100%; }
      .index-pics dl dt img {
        display: block;
        width: 100%;
        height: 100%; }
    .index-pics dl dd {
      color: #fff;
      width: 100%;
      height: .2rem;
      background: #000;
      opacity: 0.6;
      position: absolute;
      left: 0;
      bottom: 0;
      text-align: center; }

.index-phone {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex; }
  .index-phone .pholet {
    width: 40%;
    position: relative; }
    .index-phone .pholet img {
      display: block;
      width: 100%;
      height: 100%; }
    .index-phone .pholet p {
      height: .2rem;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: #000;
      opacity: 0.5;
      color: #fff;
      text-align: center; }
  .index-phone .ril {
    width: 60%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    -webkit-flex-direction: column;
    margin-left: .05rem; }
    .index-phone .ril dl {
      -webkit-flex: 1;
      flex: 1;
      position: relative; }
      .index-phone .ril dl dt {
        width: 100%;
        height: 100%; }
        .index-phone .ril dl dt img {
          display: block;
          height: 100%;
          width: 100%; }
      .index-phone .ril dl dd {
        width: 100%;
        position: absolute;
        height: .2rem;
        left: 0;
        bottom: 0;
        background: #000;
        opacity: 0.5;
        color: #fff;
        text-align: center; }

.container {
  margin-left: 5%;
  width: 90%;
  border-radius: .1rem; }
  .container .index-test {
    position: relative; }
    .container .index-test span {
      position: absolute;
      left: 3%;
      top: .04rem;
      font-size: .3rem; }
  .container .txt {
    height: .33rem;
    width: 87%;
    border-radius: .05rem;
    padding-left: 12%;
    outline: none; }
  .container .index-singer {
    background: #fff;
    width: 100%;
    border-radius: .05rem;
    margin-top: .1rem; }
    .container .index-singer p {
      height: .29rem;
      line-height: .29rem;
      border-bottom: .01rem solid #000; }
      .container .index-singer p b {
        float: left;
        margin-left: .1rem;
        color: #333; }
      .container .index-singer p span {
        float: right;
        margin-right: .1rem; }
    .container .index-singer .dls {
      margin-top: .1rem;
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex; }
      .container .index-singer .dls .empty {
        width: .1rem; }
      .container .index-singer .dls dl {
        -webkit-flex: 1;
        flex: 1; }
        .container .index-singer .dls dl dt {
          width: 100%; }
          .container .index-singer .dls dl dt img {
            display: block;
            width: 100%;
            height: 100%; }
        .container .index-singer .dls dl dd {
          color: #666;
          width: 100%;
          line-height: 30px;
          text-align: center; }
  .container .index-girl {
    background: #fff;
    width: 100%;
    border-radius: .05rem;
    margin-top: .1rem; }
    .container .index-girl p {
      height: .34rem;
      line-height: .34rem;
      color: #666;
      border-bottom: .01rem solid #333; }
      .container .index-girl p span {
        margin-left: 5%; }
      .container .index-girl p b {
        float: right;
        margin-right: 5%; }

.content {
  width: 100%;
  -webkit-flex: 1;
  flex: 1;
  overflow: hidden; }

.menu-banner .imgs {
  border-bottom: 1px solid #666;
  height: 1.6rem; }
  .menu-banner .imgs p {
    width: .8rem;
    height: .8rem;
    margin: .3rem auto; }
    .menu-banner .imgs p img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .menu-banner .imgs b {
    display: block;
    text-align: center;
    color: #fff;
    font-size: .2rem; }

.menu-nav {
  color: #fff; }
  .menu-nav ul {
    margin-top: .2rem; }
    .menu-nav ul li {
      height: .4rem;
      line-height: .4rem;
      text-align: center; }
      .menu-nav ul li span {
        display: inline-block;
        font-size: .18rem;
        width: .4rem;
        height: .4rem;
        text-align: left; }
    .menu-nav ul .in {
      color: #00d8ff; }

.index-footer {
  height: .49rem;
  width: 100%;
  color: #fff;
  border-top: .01rem solid #333;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex; }
  .index-footer dl {
    -webkit-flex: 1;
    flex: 1;
    width: 1rem; }
    .index-footer dl dt {
      float: left; }
      .index-footer dl dt img {
        margin: .05rem;
        width: .35rem;
        height: .35rem; }
    .index-footer dl dd {
      float: left; }
      .index-footer dl dd p {
        font-size: .13rem; }
        .index-footer dl dd p:last-child {
          color: #333; }
  .index-footer .index-footer-right {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    .index-footer .index-footer-right img {
      margin: 0 .2rem;
      width: .25rem;
      height: .25rem;
      background-size: contain; }
      .index-footer .index-footer-right img:first-child {
        margin-top: .1rem; }
      .index-footer .index-footer-right img:last-child {
        margin-top: .1rem; }
    .index-footer .index-footer-right .two {
      height: 40px;
      margin-top: .05rem; }

* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
.singer-head {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  border-bottom: solid 2px #3c3c3c; }
  .singer-head ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    font-size: .2rem; }
    .singer-head ul li {
      -webkit-flex-direction: column;
      overflow: hidden; }

.res-con ul {
  margin-top: .5rem;
  text-align: center; }
  .res-con ul > li {
    margin-top: .2rem;
    color: #fff;
    font-size: .2rem; }
    .res-con ul > li:nth-child(4) input {
      width: 35%;
      height: .3rem;
      border-radius: .1rem; }
    .res-con ul > li input {
      outline: none;
      width: 50%;
      height: .3rem;
      border-radius: .1rem;
      padding-left: .05rem; }
    .res-con ul > li a {
      font-size: .16rem;
      color: #c0c0c0; }
  .res-con ul .submit {
    margin: 0 auto;
    font-size: .3rem;
    width: 80%;
    height: .6rem;
    background: #191919;
    color: #fff;
    text-align: center;
    line-height: .6rem;
    border-radius: .15rem;
    margin-top: 1rem; }
  .res-con ul .instructions {
    margin-left: -50%; }

.mark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0; }

.hint {
  width: 2.8rem;
  font-size: .14rem;
  position: absolute;
  left: 0;
  top: 30%;
  right: 0;
  bottom: 0;
  margin: auto; }
  .hint p {
    height: .44rem;
    line-height: .44rem;
    padding-left: .1rem;
    background: #333; }
  .hint span {
    color: #000;
    display: block;
    text-align: center;
    line-height: 1rem;
    font-size: .2rem;
    background: #fff;
    height: 1rem; }
  .hint .ok {
    height: .4rem;
    width: 100%;
    background: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    .hint .ok i {
      color: #000;
      font-style: normal;
      display: inline-block;
      -webkit-flex: 1;
      flex: 1;
      line-height: .3rem;
      margin: .05rem;
      text-align: center; }
      .hint .ok i:first-child {
        background: #ccc; }
      .hint .ok i:last-child {
        background: lightseagreen; }

* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
.wu-header1 {
  width: 100%;
  height: 0.44rem; }
  .wu-header1 ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: 100%; }
    .wu-header1 ul li {
      color: #fff;
      height: .44rem;
      line-height: .44rem;
      text-align: center;
      font-size: .26rem; }
      .wu-header1 ul li:nth-child(2) {
        -webkit-flex: 1;
        flex: 1;
        height: .44rem;
        line-height: .44rem;
        font-size: .26rem; }
      .wu-header1 ul li:not(:nth-child(2)) {
        width: .44rem;
        height: .44rem; }

.wu-ontent {
  -webkit-flex-direction: column;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  width: 100%;
  -webkit-flex: 1;
  flex: 1; }
  .wu-ontent > p {
    width: 100%;
    height: 1.8rem;
    text-align: center; }
    .wu-ontent > p img {
      border-radius: 50%;
      width: 1.8rem;
      height: 1.8rem; }
  .wu-ontent .wu-text {
    margin-top: 0.3rem;
    width: 100%;
    height: .72rem; }
    .wu-ontent .wu-text p:nth-child(1) {
      width: 100%;
      height: .36rem;
      color: #fff;
      font-size: .26rem;
      line-height: .36rem;
      text-align: center; }
    .wu-ontent .wu-text p:nth-child(2) {
      width: 100%;
      height: .36rem;
      color: #ccc;
      font-size: .22rem;
      line-height: .36rem;
      text-align: center; }
  .wu-ontent .wu-xian {
    width: 100%;
    height: 0.02rem;
    background: #303030;
    margin-top: 0.2rem; }
  .wu-ontent ul {
    width: 100%;
    display: -webkit-flex;
    margin-top: .3rem; }
    .wu-ontent ul li {
      display: -webkit-flex;
      -webkit-flex-direction: column;
      width: 33%;
      color: #fff;
      text-align: center; }
      .wu-ontent ul li:nth-child(2) span {
        color: #f00; }
      .wu-ontent ul li span {
        font-size: 0.36rem; }
  .wu-ontent .wu-xian1 {
    position: relative;
    width: 100%;
    height: 0.02rem;
    background: #ccc;
    margin-top: 0.3rem;
    display: -webkit-flex; }
    .wu-ontent .wu-xian1 p {
      color: #fff;
      font-weight: 600;
      margin-top: 0.1rem; }
      .wu-ontent .wu-xian1 p:nth-child(2) {
        -webkit-flex: 1;
        flex: 1; }
    .wu-ontent .wu-xian1 span {
      position: absolute;
      top: -0.03rem;
      left: 0;
      width: 0.08rem;
      height: .08rem;
      background: #fff;
      border-radius: 50%; }
  .wu-ontent .wu-pop {
    width: 100%;
    display: -webkit-flex; }
    .wu-ontent .wu-pop span {
      width: 33%;
      text-align: center;
      margin-top: .6rem; }
      .wu-ontent .wu-pop span:nth-child(2) {
        margin-top: .4rem; }
      .wu-ontent .wu-pop span img {
        width: .5rem; }

* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
.wifi-header {
  width: 100%;
  height: 0.44rem; }
  .wifi-header ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: 100%; }
    .wifi-header ul li {
      color: #fff;
      height: .44rem;
      line-height: .44rem;
      text-align: center;
      font-size: .26rem; }
      .wifi-header ul li:nth-child(2) {
        -webkit-flex: 1;
        flex: 1;
        height: .44rem;
        line-height: .44rem;
        font-size: .26rem; }
      .wifi-header ul li:not(:nth-child(2)) {
        width: .44rem;
        height: .44rem; }

.wifi-xian {
  width: 100%;
  height: 0.02rem;
  background: #303030;
  margin-top: .15rem; }

.wifi-ontent1 > p {
  width: 100%;
  margin-top: .5rem; }
  .wifi-ontent1 > p img {
    width: 100%; }
.wifi-ontent1 .no {
  width: 100%;
  height: .36rem;
  font-size: .3rem;
  color: #fff;
  text-align: center; }
.wifi-ontent1 .btn {
  text-align: center;
  width: 80%;
  height: .5rem;
  background: #030303;
  color: #fff;
  font-size: .3rem;
  border: none;
  margin-left: .32rem; }

* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
.homesong {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: .14rem;
  background: url(../../img/Wifi-1.jpg) no-repeat;
  background-size: 100% 100%; }
  .homesong .song_head {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: .44rem;
    color: #fff;
    font-size: .16rem;
    line-height: .44rem;
    background: url(../../img/border-b.jpg) bottom repeat-x; }
    .homesong .song_head span {
      width: .44rem;
      height: .44rem;
      text-align: center;
      display: block; }
    .homesong .song_head p {
      -webkit-flex: 1;
      flex: 1;
      width: 100%;
      height: .44rem;
      text-align: center; }
  .homesong .song_content {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    -webkit-flex-direction: column;
    width: 100%;
    height: 100%; }
    .homesong .song_content .nav {
      width: 100%;
      height: .4rem; }
      .homesong .song_content .nav .title {
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: -ms-flex;
        width: 100%;
        height: .38rem;
        border-bottom: .02rem solid #FCFCFC; }
        .homesong .song_content .nav .title li {
          -webkit-flex: 1;
          flex: 1;
          -webkit-flex-direction: column;
          text-align: center;
          display: inline-block; }
          .homesong .song_content .nav .title li.active {
            border-bottom: .05rem solid #00D8FF; }
          .homesong .song_content .nav .title li a {
            color: #fff;
            margin: .08rem 0;
            height: .2rem;
            display: block;
            text-decoration: none; }
            .homesong .song_content .nav .title li a:not(:nth-child(4)) {
              background: url(../../img/border-r.jpg) right repeat-y; }
    .homesong .song_content .song_swiper {
      -webkit-flex: 1;
      flex: 1;
      width: 100%;
      height: 100%; }
      .homesong .song_content .song_swiper .swiper-wrapper {
        width: 100%;
        height: 100%; }
    .homesong .song_content .swiper-slide {
      width: 100%; }
      .homesong .song_content .swiper-slide .song-scoll {
        width: 100%;
        height: 100%;
        overflow-y: auto; }
        .homesong .song_content .swiper-slide .song-scoll .song_cont > div .tit {
          height: .25rem;
          color: #333333;
          background: #CCCCCC;
          padding-left: .15rem;
          line-height: .25rem; }
        .homesong .song_content .swiper-slide .song-scoll .song_cont > div > ul {
          background: #fff; }
          .homesong .song_content .swiper-slide .song-scoll .song_cont > div > ul li {
            height: .49rem;
            border-bottom: .01rem solid #C3C3C3;
            display: -webkit-flex;
            display: -moz-flex;
            display: -o-flex;
            display: -ms-flex; }
            .homesong .song_content .swiper-slide .song-scoll .song_cont > div > ul li b {
              font-size: .18rem;
              width: .44rem;
              height: .49rem;
              display: inline-block;
              line-height: .49rem;
              text-align: center; }
              .homesong .song_content .swiper-slide .song-scoll .song_cont > div > ul li b img {
                width: 100%;
                height: 100%;
                background-size: 100% 100%; }
            .homesong .song_content .swiper-slide .song-scoll .song_cont > div > ul li span {
              -webkit-flex: 1;
              flex: 1;
              line-height: .49rem;
              padding-left: .1rem; }
        .homesong .song_content .swiper-slide .song-scoll .song_cont > div .head {
          text-align: center;
          height: .3rem;
          line-height: .3rem; }
          .homesong .song_content .swiper-slide .song-scoll .song_cont > div .head img {
            width: .13rem;
            height: .13rem;
            margin-bottom: 0.02rem;
            display: inline-block;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transition: transform 150ms;
            -webkit-transition: transform 150ms; }
        .homesong .song_content .swiper-slide .song-scoll .song_cont > div .foot {
          text-align: center;
          height: .3rem;
          line-height: .3rem; }
          .homesong .song_content .swiper-slide .song-scoll .song_cont > div .foot img {
            width: .13rem;
            height: .13rem;
            margin-bottom: 0.04rem;
            display: inline-block;
            transition: transform 150ms;
            -webkit-transition: transform 150ms; }
        .homesong .song_content .swiper-slide .song-scoll .song_cont > div .up {
          transform: rotate(360deg) !important;
          -webkit-transform: rotate(360deg) !important; }
        .homesong .song_content .swiper-slide .song-scoll .song_cont > div .down {
          transform: rotate(180deg) !important;
          -webkit-transform: rotate(180deg) !important; }

footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  width: 100%;
  height: .5rem;
  background: #353535;
  border-top: .03rem solid #979797;
  position: relative; }
  footer dl, footer ul {
    -webkit-flex: 1;
    flex: 1; }
  footer img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%; }
  footer dl {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    footer dl dt {
      width: .52rem;
      padding: .05rem .08rem; }
    footer dl dd {
      -webkit-flex: 1;
      flex: 1; }
      footer dl dd span {
        display: block; }
        footer dl dd span:nth-child(1) {
          color: #fff; }
        footer dl dd span:nth-child(2) {
          color: #CCCCCC; }
        footer dl dd span:nth-child(3) {
          color: #909090; }
  footer ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    footer ul li {
      -webkit-flex: 1;
      flex: 1;
      color: #fff;
      text-align: center;
      line-height: .5rem; }
      footer ul li:not(:nth-child(2)) {
        font-size: .24rem;
        color: #b1b1b1; }
      footer ul li:nth-child(2) {
        font-size: .32rem; }
        footer ul li:nth-child(2) i:nth-child(1) {
          display: none; }
  footer .dot {
    width: 70%;
    height: .03rem;
    background: #2B8C9F;
    position: absolute;
    left: 0;
    top: -.03rem; }
    footer .dot img {
      width: .13rem;
      height: .13rem;
      position: absolute;
      right: -.05rem;
      top: -.05rem; }

.song_mark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999; }

.song_hide {
  width: 2.8rem;
  height: 3.05rem;
  font-size: .14rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999; }
  .song_hide p {
    height: .44rem;
    line-height: .44rem;
    padding-left: .1rem;
    color: #fff;
    background: #333; }
  .song_hide ul {
    background: #fff; }
    .song_hide ul li {
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex;
      height: .4rem;
      line-height: .4rem;
      border-bottom: .01rem solid #ccc; }
      .song_hide ul li i {
        width: .44rem;
        height: .4rem;
        color: #01D9FF; }
      .song_hide ul li span {
        -webkit-flex: 1;
        flex: 1;
        padding-left: .1rem; }

* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
.songfiles {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  width: 100%;
  height: 100%; }
  .songfiles .file_content {
    -webkit-flex: 1;
    flex: 1;
    width: 100%;
    height: 100%; }
    .songfiles .file_content .file_con {
      width: 100%; }
      .songfiles .file_content .file_con li {
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: -ms-flex;
        height: .4rem;
        line-height: .4rem;
        color: #fff;
        background: url(../../img/border-bot.jpg) bottom repeat-x; }
        .songfiles .file_content .file_con li b {
          font-weight: normal;
          /*  &:nth-child(3){
          		display:none;
          	}  */ }
          .songfiles .file_content .file_con li b:nth-child(2) {
            -webkit-flex: 1;
            flex: 1; }
          .songfiles .file_content .file_con li b:not(:nth-child(2)) {
            width: .44rem;
            height: .44rem;
            display: inline-block;
            line-height: .44rem;
            text-align: center; }
  .songfiles .bot {
    height: .44rem;
    background: #1D1D1D;
    margin: 0 .15rem .15rem;
    line-height: .44rem;
    text-align: center;
    font-size: .16rem;
    color: #fff; }

* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
.file li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  height: .4rem;
  line-height: .4rem;
  color: #fff;
  background: url(../../img/border-bot.jpg) bottom repeat-x; }
  .file li b:nth-child(1) {
    -webkit-flex: 1;
    flex: 1;
    padding-left: .2rem;
    font-weight: normal; }
  .file li b:nth-child(2) {
    width: .5rem;
    height: .3rem;
    display: inline-block;
    text-align: center;
    background: url(../../img/btn.png);
    background-size: 100%;
    margin: .03rem .2rem 0 0;
<<<<<<< HEAD
    position: relative;
    			 /* input:checked+label{
     					background-position:-52px 0;
     					left:18px;
     					top:-4px;
     				}  */ }
=======
    position: relative; }
>>>>>>> e584838a972f7a5bfd3c5ecc0e2d09ff4e7b20d8
    .file li b:nth-child(2) input {
      display: none;
      -webkit-appecance: none; }
    .file li b:nth-child(2) input + label {
      border-radius: 12px;
      display: block;
      width: .36rem;
      height: .34rem;
      background: url(../../img/btn_1.png);
      background-size: 100%;
      position: absolute;
      left: -4px;
      top: -4px;
      z-index: 999; }
      .file li b:nth-child(2) input + label.active {
        -webkit-transition: position 0.5s;
        position: absolute;
        left: 18px;
        top: -4px; }

* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
.theme-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  text-align: center;
  width: 100%;
  height: .44rem; }
  .theme-header p {
    color: #fff;
    line-height: .44rem;
    margin-left: .20rem; }
  .theme-header em {
    font-style: normal;
    line-height: .44rem;
    text-align: center;
    color: #fff;
    -webkit-flex: 1;
    flex: 1;
    margin-left: -.25rem; }

.theme-box {
  height: .02px;
  border-bottom: .01px solid #5c5c5c;
  border-top: 0.01px solid #262626; }

.theme-nav {
  height: .33rem;
  border-bottom: 0.02rem solid #fff; }
  .theme-nav ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    .theme-nav ul li {
      -webkit-flex: 1;
      flex: 1;
      border-right: .02rem solid #333;
      text-align: center;
      line-height: .33rem; }
      .theme-nav ul li a {
        color: #fff;
        text-decoration: none; }
    .theme-nav ul .on {
      border-bottom: 0.02rem solid #00D8FF; }

.theme-contine {
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  overflow: hidden;
  margin-top: .03rem; }

.theme-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  margin-top: 0.05rem; }
  .theme-flex .theme-width1 {
    width: 0.05rem; }
  .theme-flex span {
    position: relative;
    -webkit-flex: 1;
    flex: 1;
    margin-right: 0.05rem; }
    .theme-flex span b {
      font-weight: 400;
      position: absolute;
      bottom: .10rem;
      left: 10%;
      width: 80%;
      height: .18rem;
      border-radius: 0.08rem;
      background: #000;
      opacity: 0.7;
      color: #fff;
      text-align: center; }
    .theme-flex span img {
      width: 100%;
      height: 100%;
      display: block; }

#PullDown {
  text-align: center;
  width: 1rem;
  margin: 0 auto; }

#PullUp {
  height: 0.3rem;
  padding-top: 0.05rem;
  text-align: center;
  width: 1rem;
  margin: 0 auto; }

/*.img{
  -webkit-animation: fadeOutUp 0.5s infinite;
}
  @keyframes fadeOutUp {
    0% {
      opacity: 0;
       }
    10% {
      opacity: 1;
       }
  }*/
.img {
  animation: 2s opacity2 1;
  -webkit-animation: 2s opacity2 1;
  -moz-animation: 2s opacity2 1; }

@keyframes opacity2 {
  0% {
    opacity: 0; }
  50% {
    opacity: .8; }
  100% {
    opacity: 0; } }
@-webkit-keyframes opacity2 {
  0% {
    opacity: 0; }
  50% {
    opacity: .8; }
  100% {
    opacity: 0; } }
@-moz-keyframes opacity2 {
  0% {
    opacity: 0; }
  50% {
    opacity: .8; }
  100% {
    opacity: 0; } }
* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
<<<<<<< HEAD
.search_case {
=======

.search {
>>>>>>> e584838a972f7a5bfd3c5ecc0e2d09ff4e7b20d8
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: .14rem;
  background: url(../../img/Wifi-1.jpg) no-repeat;
  background-size: 100% 100%; }
  .search .song_head {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: .44rem;
    color: #fff;
    font-size: .16rem;
    line-height: .44rem;
    background: url(../../img/border-b.jpg) bottom repeat-x; }
    .search .song_head span {
      width: .44rem;
      height: .44rem;
      text-align: center;
      display: block; }
    .search .song_head p {
      -webkit-flex: 1;
      flex: 1;
      width: 100%;
      height: .44rem;
      text-align: center; }
  .search .song_content {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    -webkit-flex-direction: column;
    width: 100%;
    height: 100%; }
    .search .song_content .search_case {
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex;
      width: 100%;
      height: .6rem; }
      .search .song_content .search_case p {
        height: .6rem; }
        .search .song_content .search_case p:nth-child(1) {
          -webkit-flex: 1;
          flex: 1;
          height: .35rem;
          line-height: .35rem;
          color: #000;
          font-size: .22rem;
          background: #fff;
          border-radius: .05rem;
          margin: .12rem 0 0 .15rem; }
          .search .song_content .search_case p:nth-child(1) label input {
            border: none;
            outline: none;
            background: none; }
          .search .song_content .search_case p:nth-child(1) i {
            padding: 0 .03rem 0 .15rem; }
        .search .song_content .search_case p:nth-child(2) {
          width: .5rem;
          line-height: .6rem;
          text-align: center;
          color: #fff; }
    .search .song_content .song-scoll {
      -webkit-flex: 1;
      flex: 1;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background: #fff; }
      .search .song_content .song-scoll .song_cont > div .tit {
        height: .25rem;
        color: #333333;
        background: #CCCCCC;
        padding-left: .15rem;
        line-height: .25rem; }
      .search .song_content .song-scoll .song_cont > div > ul {
        background: #fff; }
        .search .song_content .song-scoll .song_cont > div > ul li {
          height: .49rem;
          border-bottom: .01rem solid #C3C3C3;
          display: -webkit-flex;
          display: -moz-flex;
          display: -o-flex;
          display: -ms-flex; }
          .search .song_content .song-scoll .song_cont > div > ul li b {
            font-size: .18rem;
            width: .44rem;
            height: .49rem;
            display: inline-block;
            line-height: .49rem;
            text-align: center; }
            .search .song_content .song-scoll .song_cont > div > ul li b img {
              width: 100%;
              height: 100%;
              background-size: 100% 100%; }
          .search .song_content .song-scoll .song_cont > div > ul li span {
            -webkit-flex: 1;
            flex: 1;
            line-height: .49rem;
            padding-left: .1rem; }
  .search footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: .5rem;
    background: #353535;
    border-top: .03rem solid #979797;
    position: relative; }
    .search footer dl, .search footer ul {
      -webkit-flex: 1;
      flex: 1; }
    .search footer img {
      width: 100%;
      height: 100%;
      background-size: 100% 100%; }
    .search footer dl {
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex; }
      .search footer dl dt {
        width: .52rem;
        padding: .05rem .08rem; }
      .search footer dl dd {
        -webkit-flex: 1;
        flex: 1; }
        .search footer dl dd span {
          display: block; }
          .search footer dl dd span:nth-child(1) {
            color: #fff; }
          .search footer dl dd span:nth-child(2) {
            color: #CCCCCC; }
          .search footer dl dd span:nth-child(3) {
            color: #909090; }
    .search footer ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex; }
      .search footer ul li {
        -webkit-flex: 1;
        flex: 1;
        color: #fff;
        text-align: center;
        line-height: .5rem; }
        .search footer ul li:not(:nth-child(2)) {
          font-size: .24rem;
          color: #b1b1b1; }
        .search footer ul li:nth-child(2) {
          font-size: .32rem; }
          .search footer ul li:nth-child(2) i:nth-child(2) {
            display: none; }
    .search footer .dot {
      width: 70%;
      height: .03rem;
      background: #2B8C9F;
      position: absolute;
      left: 0;
      top: -.03rem; }
      .search footer .dot img {
        width: .13rem;
        height: .13rem;
        position: absolute;
        right: -.05rem;
        top: -.05rem; }

<<<<<<< HEAD
.red {
  color: red !important; }

.orange {
  color: orange !important; }

.yellow {
  color: yellow !important; }
=======
.theme-flex:nth-of-type(1) span:nth-of-type(1) b {
  color: red; }

.theme-flex:nth-of-type(1) span:nth-of-type(2) b {
  color: orange; }

.theme-flex:nth-of-type(1) span:nth-of-type(3) b {
  color: yellow; }
>>>>>>> e584838a972f7a5bfd3c5ecc0e2d09ff4e7b20d8

.wrapper {
  font-size: .14rem;
  width: 100%;
  height: 100%;
  background: url(../../img/Wifi-1.jpg) no-repeat;
  background-size: 100% 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  overflow: hidden; }

.icon {
  font-family: "iconfont"; }

.icon1 {
  font-family: "iconfont1"; }

i {
  font-weight: normal;
  font-style: normal; }

b {
  font-weight: normal; }

/*# sourceMappingURL=app.css.map */
