*{
	margin: 0;
	padding: 0;
}
body,html{
	width: 100%;
	height: 100%;
	position: relative;
}
html{
	font-size: 100px;
}
ul,ol{
	list-style: none;
}
ui-view{
	width: 100%;
	height: 100%;
	position: absolute;
}
@mixin box-flex()
{
	display:-webkit-flex;
	display:-moz-flex;
	display:-o-flex;
	display:-ms-flex;
}
@mixin flex()
{
	-webkit-flex:1;
	flex:1;
}
@mixin direction($dir:row)
{
	-webkit-flex-direction:$dir;
}
@font-face
{
	font-family: "iconfont";
	src:url("../../img/iconfont/iconfont.ttf");
	src:url("../../img/iconfont/iconfont.woff");
}
@font-face
{
	font-family: "iconfont1";
	src:url("../../img/iconfont/font/iconfont.ttf");
	src:url("../../img/iconfont/font/iconfont.woff");
}