* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }

@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
