@import './common.scss';

.songfiles{
	@include box-flex;
	@include direction(column);
	width:100%;
	height:100%;
	.file_content{
		@include flex;
		width:100%;
		height:100%;
		.file_con{
			width:100%;
			li{
				@include box-flex;
				height:.4rem;
				line-height:.4rem;
				color:#fff;
				background:url(../../img/border-bot.jpg) bottom repeat-x;
				b{
					font-weight: normal;
					&:nth-child(2){
						@include flex;
					}
					&:not(:nth-child(2)){
						width:.44rem;
						height:.44rem;
						display:inline-block;
						line-height:.44rem;
						text-align: center;
					}
					
					/*  &:nth-child(3){
							display:none;
						}  */
				}
				
			}
		}
	}
	.bot{
		height:.44rem;
		background: #1D1D1D;
		margin:0 .15rem .15rem;
		line-height:.44rem;
		text-align: center;
		font-size:.16rem;
		color:#fff;
	}
}