* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }

@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }

.songfiles {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  width: 100%;
  height: 100%; }
  .songfiles .file_content {
    -webkit-flex: 1;
    flex: 1;
    width: 100%;
    height: 100%; }
    .songfiles .file_content .file_con {
      width: 100%; }
      .songfiles .file_content .file_con li {
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: -ms-flex;
        height: .4rem;
        line-height: .4rem;
        color: #fff;
        background: url(../../img/border-bot.jpg) bottom repeat-x; }
        .songfiles .file_content .file_con li b {
          font-weight: normal;
          /*  &:nth-child(3){
							display:none;
						}  */ }
          .songfiles .file_content .file_con li b:nth-child(2) {
            -webkit-flex: 1;
            flex: 1; }
          .songfiles .file_content .file_con li b:not(:nth-child(2)) {
            width: .44rem;
            height: .44rem;
            display: inline-block;
            line-height: .44rem;
            text-align: center; }
  .songfiles .bot {
    height: .44rem;
    background: #1D1D1D;
    margin: 0 .15rem .15rem;
    line-height: .44rem;
    text-align: center;
    font-size: .16rem;
    color: #fff; }
