* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }

@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }

.guide {
  font-size: .14rem;
  width: 100%;
  height: 100%;
  background: url(../../img/tu-bg.jpg) no-repeat;
  background-size: 100% 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  overflow: hidden; }

.guide-mark {
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.8); }
  .guide-mark p {
    text-align: center; }
    .guide-mark p:nth-child(1) {
      margin-top: 40%;
      width: 100%;
      height: 1.3rem; }
      .guide-mark p:nth-child(1) img {
        height: 100%;
        border-radius: 50%; }
    .guide-mark p:nth-child(2) img {
      width: 1.7rem; }
    .guide-mark p:nth-child(3) {
      width: 80%;
      background: #000000;
      border-radius: 12px;
      color: #fff;
      line-height: .6rem;
      margin-top: .15rem;
      font-size: .18rem;
      margin-left: 10%;
      font-weight: bolder; }
    .guide-mark p:nth-child(4) {
      font-size: .18rem;
      width: 80%;
      background: #fff;
      color: #000;
      border-radius: 12px;
      line-height: .6rem;
      margin-top: .22rem;
      margin-left: 10%;
      font-weight: bolder; }
  .guide-mark div {
    text-align: center;
    margin-top: 1rem; }
    .guide-mark div img {
      width: 2.5rem; }
