@import './common.scss';

.guide{
	font-size: .14rem;
	width: 100%;
	height: 100%;
	background: url(../../img/tu-bg.jpg) no-repeat;
	background-size: 100% 100%;
	@include box-flex();
	@include direction(column);
	overflow: hidden;
}
.guide-mark{
	width: 100%;
	height: 100%;
	background: rgba(3,3,3,.8);
	p{		
		text-align: center;
		&:nth-child(1){
			margin-top: 40%;
			width: 100%;
			height: 1.3rem;
			img{
				height: 100%;
				border-radius: 50%;
			}
		};
		&:nth-child(2){
			img{
				width: 1.7rem;
			}
		};
		&:nth-child(3){
			width: 80%;
			background: #000000;
			border-radius: 12px;
			color: #fff;
			line-height: .6rem;
			margin-top: .15rem;
			font-size: .18rem;
			margin-left: 10%;
			font-weight: bolder;
		}
		&:nth-child(4){
			font-size: .18rem;
			width: 80%;
			background: #fff;
			color: #000;
			border-radius: 12px;
			line-height: .6rem;
			margin-top: .22rem;
			margin-left: 10%;
			font-weight: bolder;
		}
	}
	div{
		text-align: center;
		margin-top: 1rem;
		img{
			width: 2.5rem;
		}
		
	}
}