
/*.img{
  -webkit-animation: fadeOutUp 0.5s infinite;
}
  @keyframes fadeOutUp {
    0% {
      opacity: 0;
       }
    10% {
      opacity: 1;
       }
  }*/

.img{animation: 2s opacity2 1;
  -webkit-animation: 2s opacity2 1;
  -moz-animation: 2s opacity2 1;
}
@keyframes opacity2{
  0%{opacity:0}
  50%{opacity:.8;}
  100%{opacity:0;}
}
@-webkit-keyframes opacity2{
  0%{opacity:0}
  50%{opacity:.8;}
  100%{opacity:0;}
}
@-moz-keyframes opacity2{
  0%{opacity:0}
  50%{opacity:.8;}
  100%{opacity:0;}
}