* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }

@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }

.index-header, .menu-header {
  height: .44rem;
  line-height: .44rem;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  color: #fff;
  border-bottom: 1px solid #333; }
  .index-header li:first-child, .menu-header li:first-child {
    width: .5rem;
    margin-left: .1rem; }
  .index-header li:nth-of-type(2), .menu-header li:nth-of-type(2) {
    -webkit-flex: 1;
    flex: 1;
    text-align: center; }
  .index-header li:last-child, .menu-header li:last-child {
    width: .5rem; }
  .index-header span, .menu-header span {
    width: .4rem;
    text-align: center; }
  .index-header b, .menu-header b {
    -webkit-flex: 1;
    flex: 1;
    text-align: center; }

.index-nav {
  width: 100%;
  height: .33rem;
  line-height: .33rem;
  text-align: center;
  background: #4b4b4b;
  color: #fff;
  border-bottom: .02rem solid #fff; }
  .index-nav ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    height: .35rem; }
    .index-nav ul li {
      -webkit-flex: 1;
      flex: 1;
      border-right: .02rem solid #333; }
      .index-nav ul li:last-child {
        border-right: none; }
    .index-nav ul .on {
      border-bottom: .04rem solid #00d8ff; }

.index-banner, .index-bannerHome {
  width: 100%;
  margin-bottom: .05rem; }
  .index-banner ul, .index-bannerHome ul {
    width: 100%; }
    .index-banner ul li img, .index-bannerHome ul li img {
      display: block;
      width: 100%;
      height: 100%; }

.index-pics {
  width: 100%;
  margin-bottom: .05rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex; }
  .index-pics .empty {
    width: .1rem; }
  .index-pics dl {
    -webkit-flex: 1;
    flex: 1;
    position: relative; }
    .index-pics dl dt {
      width: 100%; }
      .index-pics dl dt img {
        display: block;
        width: 100%;
        height: 100%; }
    .index-pics dl dd {
      color: #fff;
      width: 100%;
      height: .2rem;
      background: #000;
      opacity: 0.6;
      position: absolute;
      left: 0;
      bottom: 0;
      text-align: center; }

.index-phone {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex; }
  .index-phone .pholet {
    width: 40%;
    position: relative; }
    .index-phone .pholet img {
      display: block;
      width: 100%;
      height: 100%; }
    .index-phone .pholet p {
      height: .2rem;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: #000;
      opacity: 0.5;
      color: #fff;
      text-align: center; }
  .index-phone .ril {
    width: 60%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    -webkit-flex-direction: column;
    margin-left: .05rem; }
    .index-phone .ril dl {
      -webkit-flex: 1;
      flex: 1;
      position: relative; }
      .index-phone .ril dl dt {
        width: 100%;
        height: 100%; }
        .index-phone .ril dl dt img {
          display: block;
          height: 100%;
          width: 100%; }
      .index-phone .ril dl dd {
        width: 100%;
        position: absolute;
        height: .2rem;
        left: 0;
        bottom: 0;
        background: #000;
        opacity: 0.5;
        color: #fff;
        text-align: center; }

.container {
  margin-left: 5%;
  width: 90%;
  border-radius: .1rem; }
  .container .index-test {
    position: relative; }
    .container .index-test span {
      position: absolute;
      left: 3%;
      top: .04rem;
      font-size: .3rem; }
  .container .txt {
    height: .33rem;
    width: 87%;
    border-radius: .05rem;
    padding-left: 12%;
    outline: none; }
  .container .index-singer {
    background: #fff;
    width: 100%;
    border-radius: .05rem;
    margin-top: .1rem; }
    .container .index-singer p {
      height: .29rem;
      line-height: .29rem;
      border-bottom: .01rem solid #000; }
      .container .index-singer p b {
        float: left;
        margin-left: .1rem;
        color: #333; }
      .container .index-singer p span {
        float: right;
        margin-right: .1rem; }
    .container .index-singer .dls {
      margin-top: .1rem;
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex; }
      .container .index-singer .dls .empty {
        width: .1rem; }
      .container .index-singer .dls dl {
        -webkit-flex: 1;
        flex: 1; }
        .container .index-singer .dls dl dt {
          width: 100%; }
          .container .index-singer .dls dl dt img {
            display: block;
            width: 100%;
            height: 100%; }
        .container .index-singer .dls dl dd {
          color: #666;
          width: 100%;
          line-height: 30px;
          text-align: center; }
  .container .index-girl {
    background: #fff;
    width: 100%;
    border-radius: .05rem;
    margin-top: .1rem; }
    .container .index-girl p {
      height: .34rem;
      line-height: .34rem;
      color: #666;
      border-bottom: .01rem solid #333; }
      .container .index-girl p span {
        margin-left: 5%; }
      .container .index-girl p b {
        float: right;
        margin-right: 5%; }

.content {
  width: 100%;
  -webkit-flex: 1;
  flex: 1;
  overflow: hidden; }

.menu-banner .imgs {
  border-bottom: 1px solid #666;
  height: 1.6rem; }
  .menu-banner .imgs p {
    width: .8rem;
    height: .8rem;
    margin: .3rem auto; }
    .menu-banner .imgs p img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .menu-banner .imgs b {
    display: block;
    text-align: center;
    color: #fff;
    font-size: .2rem; }

.menu-nav {
  color: #fff; }
  .menu-nav ul {
    margin-top: .2rem; }
    .menu-nav ul li {
      height: .4rem;
      line-height: .4rem;
      text-align: center; }
      .menu-nav ul li span {
        display: inline-block;
        font-size: .18rem;
        width: .4rem;
        height: .4rem;
        text-align: left; }
    .menu-nav ul .in {
      color: #00d8ff; }

.index-footer {
  height: .49rem;
  width: 100%;
  color: #fff;
  border-top: .01rem solid #333;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex; }
  .index-footer dl {
    -webkit-flex: 1;
    flex: 1;
    width: 1rem; }
    .index-footer dl dt {
      float: left; }
      .index-footer dl dt img {
        margin: .05rem;
        width: .35rem;
        height: .35rem; }
    .index-footer dl dd {
      float: left; }
      .index-footer dl dd p {
        font-size: .13rem; }
        .index-footer dl dd p:last-child {
          color: #333; }
  .index-footer .index-footer-right {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    .index-footer .index-footer-right img {
      margin: 0 .2rem;
      width: .25rem;
      height: .25rem;
      background-size: contain; }
      .index-footer .index-footer-right img:first-child {
        margin-top: .1rem; }
      .index-footer .index-footer-right img:last-child {
        margin-top: .1rem; }
    .index-footer .index-footer-right .two {
      height: 40px;
      margin-top: .05rem; }
