@import './common.scss';

//header
.index-header,.menu-header{
  height: .44rem;
  line-height: .44rem;
  width: 100%;
  @include box-flex;
  color: #fff;
  border-bottom: 1px solid #333;
  li{
    &:first-child{
      width: .5rem;
      margin-left: .1rem;
    }
    &:nth-of-type(2){
      @include flex;
      text-align: center;
    }
    &:last-child{
      width: .5rem;
    }
  }
  span{
    width: .4rem;
    text-align: center;
  }
  b{
    @include flex;
    text-align: center;
  }
}

//nav
.index-nav{
  width: 100%;
  height: .33rem;
  line-height: .33rem;
  text-align: center;
  background: #4b4b4b;
  color: #fff;
  border-bottom: .02rem solid #fff;
  ul{
    @include box-flex;
    height: .35rem;
    li{
      @include flex;
      border-right:.02rem solid #333;
      &:last-child{
        border-right: none;
      }

    }
    .on{
      border-bottom: .04rem solid #00d8ff;
    }

  }
}

//banner
.index-banner,.index-bannerHome{
  width: 100%;
  margin-bottom: .05rem;
  ul{
    width: 100%;
    li{
      img{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

//pics
.index-pics{
  width: 100%;
  margin-bottom: .05rem;
  @include box-flex;
  .empty{
    width: .1rem;
  }
  dl{
   @include flex;
    position: relative;
    dt{
      width: 100%;
      img{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    dd{
      color: #fff;
      width: 100%;
      height: .2rem;
      background: #000;
      opacity: 0.6;
      position: absolute;
      left:0;
      bottom: 0;
      text-align: center;
    }
  }
}

//phone
.index-phone{
  width: 100%;
  @include box-flex;
  .pholet{
    width: 40%;
    position: relative;
    img{
      display: block;
      width: 100%;
      height: 100%;
    }
    p{
      height: .2rem;
      width: 100%;
      position: absolute;
      left:0;
      bottom: 0;
      background: #000;
      opacity: 0.5;
      color: #fff;
      text-align: center;
    }
  }
  .ril{
    width: 60%;
    @include box-flex;
    @include direction(column);
    margin-left: .05rem;
    dl{
      @include flex;
      position: relative;
      dt{
        width: 100%;
        height: 100%;
        img{
          display: block;
          height: 100%;
          width: 100%;
        }
      }
      dd{
        width: 100%;
        position: absolute;
        height: .2rem;
        left:0;
        bottom:0;
        background: #000;
        opacity: 0.5;
        color: #fff;
        text-align: center;
      }
    }
  }
}

//container
.container{
  margin-left: 5%;
  width: 90%;
  border-radius: .1rem;
  .index-test{
    position: relative;
    span{
      position: absolute;
      left:3%;
      top:.04rem;
      font-size: .3rem;
    }
  }
  .txt{
    height: .33rem;
    width: 87%;
    border-radius: .05rem;
    padding-left: 12%;
    outline:none;
  }
  .index-singer{
    background: #fff;
    width: 100%;
    border-radius: .05rem;
    margin-top: .1rem;
    p{
      height: .29rem;
      line-height: .29rem;
      border-bottom: .01rem solid #000;
      b{
        float: left;
        margin-left: .1rem;
        color: #333;
      }
      span{
        float: right;
        margin-right: .1rem;
      }
    }
    .dls{
      margin-top: .1rem;
      @include box-flex;
      .empty{
        width: .1rem;
      }
      dl{
        @include flex;
        dt{
          width: 100%;
          img{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        dd{
          color: #666;
          width: 100%;
          line-height: 30px;
          text-align: center;
        }
      }
    }
  }
  .index-girl{
    background: #fff;
    width: 100%;
    border-radius: .05rem;
    margin-top: .1rem;
    p{
      height: .34rem;
      line-height: .34rem;
      color: #666;
      border-bottom: .01rem solid #333;
      span{
        margin-left: 5%;
      }
      b{
        float: right;
        margin-right: 5%;
      }
    }
  }
}

//content
.content{
  width: 100%;
  @include flex;
  overflow: hidden;
}
//menu-banner
.menu-banner{
  .imgs{
    border-bottom: 1px solid #666;
    height: 1.6rem;
    p{
      width: .8rem;
      height: .8rem;
      margin:.3rem auto;
     img{
        display: block;
        width: 100%;
        height: 100%;
       border-radius: 50%;

      }
    }
    b{
      display: block;
      text-align: center;
      color: #fff;
      font-size: .2rem;
    }
  }

}

//menu-nav
.menu-nav{
  color: #fff;
  ul{
    margin-top: .2rem;
    li{
      height: .4rem;
      line-height: .4rem;
      text-align: center;
      span{
        display: inline-block;
        font-size: .18rem;
        width: .4rem;
        height: .4rem;
        text-align: left;
      }
    }
    .in{
      color: #00d8ff;
    }
  }
}


//footer
.index-footer{
  height: .49rem;
  width: 100%;
  color: #fff;
  border-top:.01rem solid #333;
  @include box-flex;
  dl{
    @include  flex;
    width: 1rem;
    dt{
      float: left;
      img{
        margin: .05rem;
        width: .35rem;
        height: .35rem;

      }
    }
    dd{
      float: left;
      p{
        font-size: .13rem;
        &:last-child{
          color: #333;
        }
      }
    }
  }
  .index-footer-right{
    @include  flex;
    @include box-flex;
      img{
        margin:0 .2rem;
        width: .25rem;
        height: .25rem;
        background-size:contain;
        &:first-child{
          margin-top: .1rem;
        }
        &:last-child{
          margin-top: .1rem;
        }
      }
      .two{
        height: 40px;
        margin-top:.05rem;
      }
    }

}