* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }

@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }

.singer-head {
  width: 100%;
  height: 0.44rem; }
  .singer-head ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: 100%; }
    .singer-head ul li {
      color: #fff;
      height: .44rem;
      line-height: .44rem;
      text-align: center; }
      .singer-head ul li:nth-child(2) {
        -webkit-flex: 1;
        flex: 1;
        height: .44rem;
        line-height: .44rem; }
      .singer-head ul li:not(:nth-child(2)) {
        width: .44rem;
        height: .44rem; }

.login-con {
  width: 100%;
  color: #fff; }
  .login-con ul {
    width: 100%;
    font-size: .16rem; }
    .login-con ul li {
      text-align: center; }
      .login-con ul li:nth-child(1) {
        margin-top: .2rem; }
        .login-con ul li:nth-child(1) img {
          width: 1.2rem;
          border-radius: 50%; }
      .login-con ul li:nth-child(3) {
        margin-top: .58rem;
        margin-bottom: .15rem; }
        .login-con ul li:nth-child(3) input {
          height: .35rem;
          width: 2rem;
          border-radius: .05rem;
          background: #fff; }
      .login-con ul li:nth-child(4) input {
        height: .35rem;
        width: 2rem;
        border-radius: .05rem;
        background: #fff; }
      .login-con ul li:nth-child(5) {
        margin-left: 1.8rem;
        margin-top: .15rem; }
      .login-con ul li:nth-child(6) {
        margin-top: .65rem; }
        .login-con ul li:nth-child(6) p {
          margin: 0 auto;
          width: 2.56rem;
          background: #191919;
          height: .52rem;
          line-height: .52rem;
          border-radius: .05rem;
          color: #fff; }
      .login-con ul li:nth-child(7) {
        margin-top: .1rem;
        text-align: left;
        margin-left: .6rem; }
