@import './common.scss';
.singer-head{
    width: 100%;
    height: 0.44rem;
    ul{
        @include box-flex;
            width: 100%;
            height: 100%;
        li{
            color: #fff;
            height: .44rem;
            line-height: .44rem;
            text-align: center;
           
            &:nth-child(2){
                @include flex;
                height: .44rem;
                line-height: .44rem;
                
            };
            &:not(:nth-child(2)){
                width: .44rem;
                height: .44rem;
            };
        }
    }
}
.login-con{
	width: 100%;
	color: #fff;
	ul{
		width: 100%;
		font-size: .16rem;
		li{
			text-align: center;
			&:nth-child(1){
				margin-top:.2rem;
				img{
					width: 1.2rem;
					border-radius: 50%;
				}
			};
			&:nth-child(3){
				margin-top: .58rem;
				margin-bottom: .15rem;
				input{
					height: .35rem;
					width: 2rem;
					border-radius: .05rem;
					background: #fff;
				}
			};
			&:nth-child(4){
				input{
					height: .35rem;
					width: 2rem;
					border-radius: .05rem;
					background: #fff;
				}
			};
			&:nth-child(5){
				margin-left: 1.8rem;
				margin-top: .15rem;
			};
			&:nth-child(6){
				margin-top: .65rem;
				p{
					margin: 0 auto;
					width: 2.56rem;
					background: #191919;
					height: .52rem;
					line-height: .52rem;
					border-radius: .05rem;
					color:#fff;
				}
			};
			&:nth-child(7){
				margin-top: .1rem;
				text-align: left;
				margin-left: .6rem;
			};
		}
	}
}