* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }

@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }

.wu-header1 {
  width: 100%;
  height: 0.44rem; }
  .wu-header1 ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: 100%; }
    .wu-header1 ul li {
      color: #fff;
      height: .44rem;
      line-height: .44rem;
      text-align: center;
      font-size: .26rem; }
      .wu-header1 ul li:nth-child(2) {
        -webkit-flex: 1;
        flex: 1;
        height: .44rem;
        line-height: .44rem;
        font-size: .26rem; }
      .wu-header1 ul li:not(:nth-child(2)) {
        width: .44rem;
        height: .44rem; }

.wu-ontent {
  -webkit-flex-direction: column;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  width: 100%;
  -webkit-flex: 1;
  flex: 1; }
  .wu-ontent > p {
    width: 100%;
    height: 1.8rem;
    text-align: center; }
    .wu-ontent > p img {
      border-radius: 50%;
      width: 1.8rem;
      height: 1.8rem; }
  .wu-ontent .wu-text {
    margin-top: 0.3rem;
    width: 100%;
    height: .72rem; }
    .wu-ontent .wu-text p:nth-child(1) {
      width: 100%;
      height: .36rem;
      color: #fff;
      font-size: .26rem;
      line-height: .36rem;
      text-align: center; }
    .wu-ontent .wu-text p:nth-child(2) {
      width: 100%;
      height: .36rem;
      color: #ccc;
      font-size: .22rem;
      line-height: .36rem;
      text-align: center; }
  .wu-ontent .wu-xian {
    width: 100%;
    height: 0.02rem;
    background: #303030;
    margin-top: 0.2rem; }
  .wu-ontent ul {
    width: 100%;
    display: -webkit-flex;
    margin-top: .3rem; }
    .wu-ontent ul li {
      display: -webkit-flex;
      -webkit-flex-direction: column;
      width: 33%;
      color: #fff;
      text-align: center; }
      .wu-ontent ul li:nth-child(2) span {
        color: #f00; }
      .wu-ontent ul li span {
        font-size: 0.36rem; }
  .wu-ontent .wu-xian1 {
    position: relative;
    width: 100%;
    height: 0.02rem;
    background: #ccc;
    margin-top: 0.3rem;
    display: -webkit-flex; }
    .wu-ontent .wu-xian1 p {
      color: #fff;
      font-weight: 600;
      margin-top: 0.1rem; }
      .wu-ontent .wu-xian1 p:nth-child(2) {
        -webkit-flex: 1;
        flex: 1; }
    .wu-ontent .wu-xian1 span {
      position: absolute;
      top: -0.03rem;
      left: 0;
      width: 0.08rem;
      height: .08rem;
      background: #fff;
      border-radius: 50%; }
  .wu-ontent .wu-pop {
    width: 100%;
    display: -webkit-flex; }
    .wu-ontent .wu-pop span {
      width: 33%;
      text-align: center;
      margin-top: .6rem; }
      .wu-ontent .wu-pop span:nth-child(2) {
        margin-top: .4rem; }
      .wu-ontent .wu-pop span img {
        width: .5rem; }
