@import './common.scss';

.wu-header1{
    width: 100%;
    height: 0.44rem;
    ul{
        @include box-flex;
            width: 100%;
            height: 100%;
        li{
            color: #fff;
            height: .44rem;
            line-height: .44rem;
            text-align: center;
            font-size: .26rem;
            &:nth-child(2){
                @include flex;
                height: .44rem;
                line-height: .44rem;
                font-size: .26rem;
            };
            &:not(:nth-child(2)){
                width: .44rem;
                height: .44rem;
            };
        }
    }
}
.wu-ontent{
    -webkit-flex-direction:column;
    @include box-flex;
    width: 100%;
    @include flex;
    >p{
        width: 100%;
        height: 1.8rem;
        text-align: center;
        img{
            border-radius: 50%;
            width: 1.8rem;
            height: 1.8rem;
        } 
    }
    .wu-text{
        margin-top: 0.3rem;
        width: 100%;
        height: .72rem;
        p{
            &:nth-child(1){
                width: 100%;
                height: .36rem;
                color:#fff;
                font-size: .26rem;
                line-height: .36rem; 
                text-align: center;
            };
            &:nth-child(2){
                width: 100%;
                height: .36rem;
                color:#ccc;
                font-size: .22rem;
                line-height: .36rem; 
                text-align: center;
            };
        }     
    }
    .wu-xian{
        width: 100%;
        height: 0.02rem;
        background: #303030;
        margin-top: 0.2rem;
    }
    ul{
        width: 100%;
        display: -webkit-flex;
        margin-top: .3rem;
        li{
            display: -webkit-flex;
            -webkit-flex-direction:column;
            width: 33%;
            color: #fff;
            text-align: center;
            &:nth-child(2){
                span{
                    color: #f00;
                }
            };
            span{
                font-size: 0.36rem;
                
            }
        }
    }
    .wu-xian1{
        position: relative;
        width: 100%;
        height: 0.02rem;
        background: #ccc;
        margin-top: 0.3rem;
        display: -webkit-flex;
        p{
            &:nth-child(2){
            @include flex;
            };
            color: #fff;
            font-weight: 600;
            margin-top: 0.1rem;
        }
        span{
            position: absolute;
            top: -0.03rem;
            left: 0;
            width: 0.08rem;
            height: .08rem;
            background: #fff;
            border-radius: 50%;
        }
    }
    .wu-pop{
        width: 100%;
        display: -webkit-flex;
        span{
            &:nth-child(2){
                margin-top: .4rem;
            };
            width: 33%;
            text-align: center;
            margin-top: .6rem;
            img{
                width: .5rem;
            }
        }
    }
}
