@import './common.scss';
.singer-head{
	@include box-flex;
	border-bottom: solid 2px #3c3c3c;
	ul{
		@include box-flex;
		font-size: .2rem;
		li{
			@include direction(column);
			overflow: hidden;
		}
	}
}
.res-con{
	ul{
		margin-top: .5rem;
		text-align: center;
		>li{
			margin-top: .2rem;
			color: #fff;
			font-size: .2rem;
		&:nth-child(4){
			input{
			width: 35%;
			height: .3rem;
			border-radius:.1rem;
			}
		};
		input{
			outline: none;
			width: 50%;
			height: .3rem;
			border-radius:.1rem;
			padding-left: .05rem;
		}
			a{
				font-size: .16rem;
				color: #c0c0c0;
			}
		}
		.submit{
			margin:0 auto;
			font-size: .3rem;
			width: 80%;
			height:.6rem;
			background: #191919;
			color: #fff;
			text-align: center;
			line-height: .6rem;
			border-radius: .15rem;
			margin-top: 1rem;
		}
		.instructions{
			margin-left: -50%;
		}
	}
}



.mark{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.7);
	position:absolute;
	left:0;
	top:0;
}
.hint{
	width:2.8rem;
	font-size:.14rem;
	position:absolute;
	left:0;
	top:30%;
	right:0;
	bottom:0;
	margin: auto;
	p{
		height:.44rem;
		line-height: .44rem;
		padding-left:.1rem;
		background:#333;
	}
	span{
		color: #000;
		display: block;
		text-align: center;
		line-height: 1rem;
		font-size: .2rem;
		background: #fff;
		height: 1rem;
	}
	.ok{
		height: .4rem;
		width: 100%;
		background: #fff;
		@include box-flex;
		i{
			color: #000;
			font-style:normal;
			display: inline-block;
			@include flex;
			line-height: .3rem;
			margin:.05rem;
			text-align: center;
			&:first-child{
				background: #ccc;
			}
			&:last-child{
				background: lightseagreen;
			}
		}
	}

}

