* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }

@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }

.singer-head {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  border-bottom: solid 2px #3c3c3c; }
  .singer-head ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    font-size: .2rem; }
    .singer-head ul li {
      -webkit-flex-direction: column;
      overflow: hidden; }

.res-con ul {
  margin-top: .5rem;
  text-align: center; }
  .res-con ul > li {
    margin-top: .2rem;
    color: #fff;
    font-size: .2rem; }
    .res-con ul > li:nth-child(4) input {
      width: 35%;
      height: .3rem;
      border-radius: .1rem; }
    .res-con ul > li input {
      outline: none;
      width: 50%;
      height: .3rem;
      border-radius: .1rem;
      padding-left: .05rem; }
    .res-con ul > li a {
      font-size: .16rem;
      color: #c0c0c0; }
  .res-con ul .submit {
    margin: 0 auto;
    font-size: .3rem;
    width: 80%;
    height: .6rem;
    background: #191919;
    color: #fff;
    text-align: center;
    line-height: .6rem;
    border-radius: .15rem;
    margin-top: 1rem; }
  .res-con ul .instructions {
    margin-left: -50%; }

.mark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0; }

.hint {
  width: 2.8rem;
  font-size: .14rem;
  position: absolute;
  left: 0;
  top: 30%;
  right: 0;
  bottom: 0;
  margin: auto; }
  .hint p {
    height: .44rem;
    line-height: .44rem;
    padding-left: .1rem;
    background: #333; }
  .hint span {
    color: #000;
    display: block;
    text-align: center;
    line-height: 1rem;
    font-size: .2rem;
    background: #fff;
    height: 1rem; }
  .hint .ok {
    height: .4rem;
    width: 100%;
    background: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    .hint .ok i {
      color: #000;
      font-style: normal;
      display: inline-block;
      -webkit-flex: 1;
      flex: 1;
      line-height: .3rem;
      margin: .05rem;
      text-align: center; }
      .hint .ok i:first-child {
        background: #ccc; }
      .hint .ok i:last-child {
        background: lightseagreen; }
