@import './common.scss';

.file{
	li{
		@include box-flex;
		height:.4rem;
		line-height:.4rem;
		color:#fff;
		background:url(../../img/border-bot.jpg) bottom repeat-x;
		 b{		 	
			&:nth-child(1){
				@include flex;
				padding-left:.2rem;
				font-weight:normal;
			}
			&:nth-child(2){
				width:.5rem;
				height:.3rem;
				display:inline-block;
				text-align: center;
				background:url(../../img/btn.png);
				background-size:100%;
				margin:.03rem .2rem 0 0;
				position: relative;
				input{
					display: none;
					-webkit-appecance:none; 
				}
				input+label{
					border-radius:12px;
					display:block;
					width:.36rem;
					height:.34rem;
					background:url(../../img/btn_1.png);
					background-size:100%;
					position: absolute;
					left:-4px;
					top:-4px;
					z-index:999;				
					 &.active{
					 	-webkit-transition:position 0.5s;
	 					 position: absolute;
	 					left:18px;
	 					top:-4px; 
	 				} 
				}
				  
			}
		} 
		
	}
}
