* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }

@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }

.file li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  height: .4rem;
  line-height: .4rem;
  color: #fff;
  background: url(../../img/border-bot.jpg) bottom repeat-x; }
  .file li b:nth-child(1) {
    -webkit-flex: 1;
    flex: 1;
    padding-left: .2rem;
    font-weight: normal; }
  .file li b:nth-child(2) {
    width: .5rem;
    height: .3rem;
    display: inline-block;
    text-align: center;
    background: url(../../img/btn.png);
    background-size: 100%;
    margin: .03rem .2rem 0 0;
    position: relative; }
    .file li b:nth-child(2) input {
      display: none;
      -webkit-appecance: none; }
    .file li b:nth-child(2) input + label {
      border-radius: 12px;
      display: block;
      width: .36rem;
      height: .34rem;
      background: url(../../img/btn_1.png);
      background-size: 100%;
      position: absolute;
      left: -4px;
      top: -4px;
      z-index: 999; }
      .file li b:nth-child(2) input + label.active {
        -webkit-transition: position 0.5s;
        position: absolute;
        left: 18px;
        top: -4px; }
