@import './common.scss';
.search{
	@include box-flex;
	@include direction(column);
	width:100%;
	height:100%;
	font-size:.14rem;
	background: url(../../img/Wifi-1.jpg) no-repeat;
	background-size: 100% 100%;
	.song_head{
		@include box-flex;
		width:100%;
		height:.44rem;
		color:#fff;
		font-size:.16rem;
		line-height:.44rem;
		background:url(../../img/border-b.jpg)bottom repeat-x;
		span{
			width:.44rem;
			height:.44rem;
			text-align: center;
			display:block;		
		}
		p{		
			@include flex;
			width:100%;
			height:.44rem;
			text-align: center;		
		}
	}
	.song_content{
		@include flex;
		@include box-flex;
		@include direction(column);
		width:100%;
		height:100%;

		.search_case{
			@include box-flex;
			width:100%;
			height:.6rem;
			p{
				height:.6rem;
				&:nth-child(1){
					@include flex;
					height:.35rem;
					line-height:.35rem;
					color:#000;
					font-size:.22rem;
					background:#fff; 
					border-radius:.05rem;
					margin:.12rem 0 0 .15rem;
					label input{
						border:none;
						outline: none;
						background: none;
					}
					i{
						padding:0 .03rem 0 .15rem;
					}
				}
				&:nth-child(2){
					width:.5rem;
					line-height:.6rem;
					text-align: center;
					color:#fff;
				}
			} 
		}

			.song-scoll{
				@include flex;
				width:100%;
				height:100%;
				overflow-y:auto;
				background:#fff;
				.song_cont{
						>div{
							.tit{
								height:.25rem;
								color:#333333;
								background:#CCCCCC;
								padding-left:.15rem;
								line-height:.25rem;
							}
							>ul{
								background:#fff;
								li{
									height:.49rem;
									border-bottom:.01rem solid #C3C3C3;
									@include box-flex;
									b{
										font-size:.18rem;
										width:.44rem;
										height:.49rem;
										display:inline-block;
										line-height:.49rem;
										text-align: center;
										img{
											width:100%;
											height:100%;
											background-size:100% 100%;
										}
									}
									span{
										@include flex;
										line-height:.49rem;
										padding-left:.1rem;
									}
								}
							}
							
						}
				}
			}
	}
	footer{
		@include box-flex;
		width:100%;
		height:.5rem;
		background:#353535;
		border-top:.03rem solid #979797;
		position: relative;
		dl,ul{
			@include flex;
		}
		img{
			width:100%;
			height:100%;
			background-size:100% 100%;
		}
		dl{
			@include box-flex;
			dt{
				width:.52rem;
				padding:.05rem .08rem; 
			}
			dd{
				@include flex;
				span{
					display:block;
					&:nth-child(1){
						color:#fff;
					}
					&:nth-child(2){
						color:#CCCCCC;
					}
					&:nth-child(3){
						color:#909090;
					}
				}
			}
		}
		ul{
			@include box-flex;
			li{
				@include flex;
				color:#fff;
				text-align:center;
				line-height:.5rem;
				&:not(:nth-child(2)){
					font-size:.24rem;
					color:#b1b1b1;
				}
				&:nth-child(2){
					font-size:.32rem;
					i{
						&:nth-child(2){
							display:none;
						}
					}
				}
			}
		}
		.dot{
			width:70%;
			height:.03rem;
			background:#2B8C9F;
			position: absolute;
			left:0;
			top:-.03rem;
			img{
				width:.13rem;
				height:.13rem;
				position: absolute;
				right:-.05rem;
				top:-.05rem;
			}
		}
	}
}
