* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }

@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }

.search {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: .14rem;
  background: url(../../img/Wifi-1.jpg) no-repeat;
  background-size: 100% 100%; }
  .search .song_head {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: .44rem;
    color: #fff;
    font-size: .16rem;
    line-height: .44rem;
    background: url(../../img/border-b.jpg) bottom repeat-x; }
    .search .song_head span {
      width: .44rem;
      height: .44rem;
      text-align: center;
      display: block; }
    .search .song_head p {
      -webkit-flex: 1;
      flex: 1;
      width: 100%;
      height: .44rem;
      text-align: center; }
  .search .song_content {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    -webkit-flex-direction: column;
    width: 100%;
    height: 100%; }
    .search .song_content .search_case {
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex;
      width: 100%;
      height: .6rem; }
      .search .song_content .search_case p {
        height: .6rem; }
        .search .song_content .search_case p:nth-child(1) {
          -webkit-flex: 1;
          flex: 1;
          height: .35rem;
          line-height: .35rem;
          color: #000;
          font-size: .22rem;
          background: #fff;
          border-radius: .05rem;
          margin: .12rem 0 0 .15rem; }
          .search .song_content .search_case p:nth-child(1) label input {
            border: none;
            outline: none;
            background: none; }
          .search .song_content .search_case p:nth-child(1) i {
            padding: 0 .03rem 0 .15rem; }
        .search .song_content .search_case p:nth-child(2) {
          width: .5rem;
          line-height: .6rem;
          text-align: center;
          color: #fff; }
    .search .song_content .song-scoll {
      -webkit-flex: 1;
      flex: 1;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background: #fff; }
      .search .song_content .song-scoll .song_cont > div .tit {
        height: .25rem;
        color: #333333;
        background: #CCCCCC;
        padding-left: .15rem;
        line-height: .25rem; }
      .search .song_content .song-scoll .song_cont > div > ul {
        background: #fff; }
        .search .song_content .song-scoll .song_cont > div > ul li {
          height: .49rem;
          border-bottom: .01rem solid #C3C3C3;
          display: -webkit-flex;
          display: -moz-flex;
          display: -o-flex;
          display: -ms-flex; }
          .search .song_content .song-scoll .song_cont > div > ul li b {
            font-size: .18rem;
            width: .44rem;
            height: .49rem;
            display: inline-block;
            line-height: .49rem;
            text-align: center; }
            .search .song_content .song-scoll .song_cont > div > ul li b img {
              width: 100%;
              height: 100%;
              background-size: 100% 100%; }
          .search .song_content .song-scoll .song_cont > div > ul li span {
            -webkit-flex: 1;
            flex: 1;
            line-height: .49rem;
            padding-left: .1rem; }
  .search footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: .5rem;
    background: #353535;
    border-top: .03rem solid #979797;
    position: relative; }
    .search footer dl, .search footer ul {
      -webkit-flex: 1;
      flex: 1; }
    .search footer img {
      width: 100%;
      height: 100%;
      background-size: 100% 100%; }
    .search footer dl {
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex; }
      .search footer dl dt {
        width: .52rem;
        padding: .05rem .08rem; }
      .search footer dl dd {
        -webkit-flex: 1;
        flex: 1; }
        .search footer dl dd span {
          display: block; }
          .search footer dl dd span:nth-child(1) {
            color: #fff; }
          .search footer dl dd span:nth-child(2) {
            color: #CCCCCC; }
          .search footer dl dd span:nth-child(3) {
            color: #909090; }
    .search footer ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex; }
      .search footer ul li {
        -webkit-flex: 1;
        flex: 1;
        color: #fff;
        text-align: center;
        line-height: .5rem; }
        .search footer ul li:not(:nth-child(2)) {
          font-size: .24rem;
          color: #b1b1b1; }
        .search footer ul li:nth-child(2) {
          font-size: .32rem; }
          .search footer ul li:nth-child(2) i:nth-child(2) {
            display: none; }
    .search footer .dot {
      width: 70%;
      height: .03rem;
      background: #2B8C9F;
      position: absolute;
      left: 0;
      top: -.03rem; }
      .search footer .dot img {
        width: .13rem;
        height: .13rem;
        position: absolute;
        right: -.05rem;
        top: -.05rem; }
