@import './common.scss';
.singer-head{
	height: .44rem;
	width: 100%;
	ul{
		width: 100%;
		height: 100%;
		@include box-flex();
		li{
			line-height: .44rem;
			text-align: center;
			color: #fff;
			&:nth-child(2){
				@include flex();
			};
			&:not(:nth-child(2)){
				width: .44rem;
				height: .44rem;
			};
		}
	}
}
.singer-con{
	overflow: hidden;
	width: 100%;
	@include box-flex();
	@include direction(column);
	@include flex();
	.singer-info{
		ul{
			color: #fff;
			position: relative;
			border-bottom: 1px solid #616161;
			li{
				text-align: center;
				&:nth-child(1){
					height: .9rem;					
					img{
						width: .9rem;
						border-radius: 50%;
						height: .9rem;
					}
				};
				&:not(:nth-child(1)){
					line-height: .36rem;
				};
			}
			p{
				position: absolute;
				bottom: .12rem;
				right: .2rem;
				width:.38rem;
				height: .23rem;
				border: 1px solid #fff;
				line-height: .23rem;
				text-align: center;
			}
			
		}
	}
	.singer-nav{
		width: 100%;
		height: .55rem;
		
		ul{
			color: #fff;
			width: 100%;
			height: 100%;
			@include box-flex();
			li{
				@include box-flex();
				@include flex();
				&:not(:nth-child(1)){
					background: url(../../img/gang.gif) left no-repeat;
					background-size: .03rem .3rem;
				};				
				text-align: center;
				line-height: .25rem;
				@include direction(column);
				i{
					font-style: normal;
				}
				b{
					font-weight: normal;
				}
				&.singer-active{
					border-bottom: 3px solid #00D8FF;
				}
			}
		}
	}
	.swiper-container{
		width: 100%;
	}
	.swiper-wrapper{
		height: 100%;
	}
	.swiper-slide{

	}
	.singer-song{
		background: #fff;
		@include flex();
		overflow: hidden;
		ul{
			background: #fff;			
				li{
					line-height: .44rem;
					border-bottom: 1px solid #C8C8C8;
					@include box-flex();
					span{
						&:nth-child(1){
							img{
								width:100%;
								height: 100%;
							}
						};
						&:not(:nth-child(2)){
							width:.44rem;
							height: .44rem;
							text-align: center;
						};
						&:nth-child(2){
							@include flex();
							margin-left: .1rem;
						};
					}
				}			
		}
	}
}
.singer-foot{
	@include box-flex;
		width:100%;
		height:.5rem;
		background:#353535;
		border-top:.03rem solid #979797;
		position: relative;
		dl,ul{
			@include flex;
		}
		img{
			width:100%;
			height:100%;
			background-size:100% 100%;
		}
		dl{
			@include box-flex;
			dt{
				width:.52rem;
				padding:.05rem .08rem; 
			}
			dd{
				@include flex;
				span{
					display:block;
					&:nth-child(1){
						color:#fff;
					}
					&:nth-child(2){
						color:#CCCCCC;
					}
					&:nth-child(3){
						color:#909090;
					}
				}
			}
		}
		ul{
			@include box-flex;
			li{
				@include flex;
				color:#fff;
				text-align:center;
				line-height:.5rem;
				&:not(:nth-child(2)){
					font-size:.24rem;
					color:#b1b1b1;
				}
				&:nth-child(2){
					font-size:.32rem;
					i{
						&:nth-child(2){
							display:none;
						}
					}
				}
			}
		}
		.dot{
			width:70%;
			height:.03rem;
			background:#2B8C9F;
			position: absolute;
			left:0;
			top:-.03rem;
			img{
				width:.13rem;
				height:.13rem;
				position: absolute;
				right:-.05rem;
				top:-.05rem;
			}
		}
}
