* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }

@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }

.singer-head {
  height: .44rem;
  width: 100%; }
  .singer-head ul {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    .singer-head ul li {
      line-height: .44rem;
      text-align: center;
      color: #fff; }
      .singer-head ul li:nth-child(2) {
        -webkit-flex: 1;
        flex: 1; }
      .singer-head ul li:not(:nth-child(2)) {
        width: .44rem;
        height: .44rem; }

.singer-con {
  overflow: hidden;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  -webkit-flex: 1;
  flex: 1; }
  .singer-con .singer-info ul {
    color: #fff;
    position: relative;
    border-bottom: 1px solid #616161; }
    .singer-con .singer-info ul li {
      text-align: center; }
      .singer-con .singer-info ul li:nth-child(1) {
        height: .9rem; }
        .singer-con .singer-info ul li:nth-child(1) img {
          width: .9rem;
          border-radius: 50%;
          height: .9rem; }
      .singer-con .singer-info ul li:not(:nth-child(1)) {
        line-height: .36rem; }
    .singer-con .singer-info ul p {
      position: absolute;
      bottom: .12rem;
      right: .2rem;
      width: .38rem;
      height: .23rem;
      border: 1px solid #fff;
      line-height: .23rem;
      text-align: center; }
  .singer-con .singer-nav {
    width: 100%;
    height: .55rem; }
    .singer-con .singer-nav ul {
      color: #fff;
      width: 100%;
      height: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex; }
      .singer-con .singer-nav ul li {
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: -ms-flex;
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
        line-height: .25rem;
        -webkit-flex-direction: column; }
        .singer-con .singer-nav ul li:not(:nth-child(1)) {
          background: url(../../img/gang.gif) left no-repeat;
          background-size: .03rem .3rem; }
        .singer-con .singer-nav ul li i {
          font-style: normal; }
        .singer-con .singer-nav ul li b {
          font-weight: normal; }
        .singer-con .singer-nav ul li.singer-active {
          border-bottom: 3px solid #00D8FF; }
  .singer-con .swiper-container {
    width: 100%; }
  .singer-con .swiper-wrapper {
    height: 100%; }
  .singer-con .singer-song {
    background: #fff;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden; }
    .singer-con .singer-song ul {
      background: #fff; }
      .singer-con .singer-song ul li {
        line-height: .44rem;
        border-bottom: 1px solid #C8C8C8;
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: -ms-flex; }
        .singer-con .singer-song ul li span:nth-child(1) img {
          width: 100%;
          height: 100%; }
        .singer-con .singer-song ul li span:not(:nth-child(2)) {
          width: .44rem;
          height: .44rem;
          text-align: center; }
        .singer-con .singer-song ul li span:nth-child(2) {
          -webkit-flex: 1;
          flex: 1;
          margin-left: .1rem; }

.singer-foot {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  width: 100%;
  height: .5rem;
  background: #353535;
  border-top: .03rem solid #979797;
  position: relative; }
  .singer-foot dl, .singer-foot ul {
    -webkit-flex: 1;
    flex: 1; }
  .singer-foot img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%; }
  .singer-foot dl {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    .singer-foot dl dt {
      width: .52rem;
      padding: .05rem .08rem; }
    .singer-foot dl dd {
      -webkit-flex: 1;
      flex: 1; }
      .singer-foot dl dd span {
        display: block; }
        .singer-foot dl dd span:nth-child(1) {
          color: #fff; }
        .singer-foot dl dd span:nth-child(2) {
          color: #CCCCCC; }
        .singer-foot dl dd span:nth-child(3) {
          color: #909090; }
  .singer-foot ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    .singer-foot ul li {
      -webkit-flex: 1;
      flex: 1;
      color: #fff;
      text-align: center;
      line-height: .5rem; }
      .singer-foot ul li:not(:nth-child(2)) {
        font-size: .24rem;
        color: #b1b1b1; }
      .singer-foot ul li:nth-child(2) {
        font-size: .32rem; }
        .singer-foot ul li:nth-child(2) i:nth-child(2) {
          display: none; }
  .singer-foot .dot {
    width: 70%;
    height: .03rem;
    background: #2B8C9F;
    position: absolute;
    left: 0;
    top: -.03rem; }
    .singer-foot .dot img {
      width: .13rem;
      height: .13rem;
      position: absolute;
      right: -.05rem;
      top: -.05rem; }
