@import './common.scss';
.homesong{
	@include box-flex;
	@include direction(column);
	width:100%;
	height:100%;
	font-size:.14rem;
	background: url(../../img/Wifi-1.jpg) no-repeat;
	background-size: 100% 100%;
	.song_head{
		@include box-flex;
		width:100%;
		height:.44rem;
		color:#fff;
		font-size:.16rem;
		line-height:.44rem;
		background:url(../../img/border-b.jpg)bottom repeat-x;
		span{
			width:.44rem;
			height:.44rem;
			text-align: center;
			display:block;		
		}
		p{		
			@include flex;
			width:100%;
			height:.44rem;
			text-align: center;		
		}
	}
	.song_content{
		@include flex;
		@include box-flex;
		@include direction(column);
		width:100%;
		height:100%;
		.nav{
			width:100%;
			height:.4rem;
			.title{
				@include box-flex;
				width:100%;
				height:.38rem;
				border-bottom:.02rem solid #FCFCFC;
				li{
					@include flex;
					@include direction(column);
					text-align: center;
					display: inline-block;	
					&.active{
						border-bottom:.05rem solid #00D8FF;
					}
					a{
						color:#fff;
						margin:.08rem 0;
						height:.2rem;
						display:block;
						text-decoration:none;
						&:not(:nth-child(4)){
							background:url(../../img/border-r.jpg) right repeat-y;
						}
					}
				}
			}
		}
		.song_swiper{
			@include  flex;
			width:100%;
			height:100%;

			.swiper-wrapper{
				width:100%;
				height:100%;
			}
		}
		.swiper-slide{
			width:100%;
			.song-scoll{
				
				width:100%;
				height:100%;
				overflow-y:auto;
				.song_cont{
						>div{
							.tit{
								height:.25rem;
								color:#333333;
								background:#CCCCCC;
								padding-left:.15rem;
								line-height:.25rem;
							}
							>ul{
								background:#fff;
								li{
									height:.49rem;
									border-bottom:.01rem solid #C3C3C3;
									@include box-flex;
									b{
										font-size:.18rem;
										width:.44rem;
										height:.49rem;
										display:inline-block;
										line-height:.49rem;
										text-align: center;
										img{
											width:100%;
											height:100%;
											background-size:100% 100%;
										}
									}
									span{
										@include flex;
										line-height:.49rem;
										padding-left:.1rem;
									}
								}
							}
							.head{
							     text-align: center;
							     height: .3rem;
							     line-height: .3rem;
							     img {
							       width: .13rem;
							       height: .13rem;
							       margin-bottom: 0.02rem;
							       display: inline-block;
							       transform: rotate(180deg);
							       -webkit-transform: rotate(180deg);
							       transition: transform 150ms;
							       -webkit-transition: transform 150ms;
							     }
						    }
						   .foot{
							     text-align: center;
							     height: .3rem;
							     line-height: .3rem;
							     img {
							       width: .13rem;
							       height: .13rem;
							       margin-bottom: 0.04rem;
							       display: inline-block;
							       transition: transform 150ms;
							       -webkit-transition: transform 150ms;
							     }
						   }
						   .up{
							     transform: rotate(360deg) !important;
							     -webkit-transform: rotate(360deg) !important;
						   }
						   .down{
						        transform: rotate(180deg) !important;
						        -webkit-transform: rotate(180deg) !important;
						   }
						}
				}
			}
		}
	}

}


	footer{
		@include box-flex;
		width:100%;
		height:.5rem;
		background:#353535;
		border-top:.03rem solid #979797;
		position: relative;
		dl,ul{
			@include flex;
		}
		img{
			width:100%;
			height:100%;
			background-size:100% 100%;
		}
		dl{
			@include box-flex;
			dt{
				width:.52rem;
				padding:.05rem .08rem; 
			}
			dd{
				@include flex;
				span{
					display:block;
					&:nth-child(1){
						color:#fff;
					}
					&:nth-child(2){
						color:#CCCCCC;
					}
					&:nth-child(3){
						color:#909090;
					}
				}
			}
		}
		ul{
			@include box-flex;
			li{
				@include flex;
				color:#fff;
				text-align:center;
				line-height:.5rem;
				&:not(:nth-child(2)){
					font-size:.24rem;
					color:#b1b1b1;
				}
				&:nth-child(2){
					font-size:.32rem;
					i{
						&:nth-child(1){
							display:none;	
						};
					}
				}
			}
		}
		.dot{
			width:70%;
			height:.03rem;
			background:#2B8C9F;
			position: absolute;
			left:0;
			top:-.03rem;
			img{
				width:.13rem;
				height:.13rem;
				position: absolute;
				right:-.05rem;
				top:-.05rem;
			}
		}
	}

.song_mark{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6);
	position:absolute;
	left:0;
	top:0;
	z-index:999;
}
.song_hide{
	width:2.8rem;
	height:3.05rem;
	font-size:.14rem;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin: auto;
	z-index:9999;
	p{
		height:.44rem;
		line-height: .44rem;
		padding-left:.1rem;
		color:#fff;
		background:#333;
	}
	ul{
		background:#fff;
		li{
			@include box-flex;
			height:.4rem;
			line-height:.4rem;
			border-bottom: .01rem solid #ccc;
			i{
				width:.44rem;
				height:.4rem;
				color:#01D9FF;
			}
			span{
				@include flex;
				padding-left:.1rem;
			}
		}
	}
}