* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }

@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }

.homesong {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: .14rem;
  background: url(../../img/Wifi-1.jpg) no-repeat;
  background-size: 100% 100%; }
  .homesong .song_head {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: .44rem;
    color: #fff;
    font-size: .16rem;
    line-height: .44rem;
    background: url(../../img/border-b.jpg) bottom repeat-x; }
    .homesong .song_head span {
      width: .44rem;
      height: .44rem;
      text-align: center;
      display: block; }
    .homesong .song_head p {
      -webkit-flex: 1;
      flex: 1;
      width: 100%;
      height: .44rem;
      text-align: center; }
  .homesong .song_content {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    -webkit-flex-direction: column;
    width: 100%;
    height: 100%; }
    .homesong .song_content .nav {
      width: 100%;
      height: .4rem; }
      .homesong .song_content .nav .title {
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: -ms-flex;
        width: 100%;
        height: .38rem;
        border-bottom: .02rem solid #FCFCFC; }
        .homesong .song_content .nav .title li {
          -webkit-flex: 1;
          flex: 1;
          -webkit-flex-direction: column;
          text-align: center;
          display: inline-block; }
          .homesong .song_content .nav .title li.active {
            border-bottom: .05rem solid #00D8FF; }
          .homesong .song_content .nav .title li a {
            color: #fff;
            margin: .08rem 0;
            height: .2rem;
            display: block;
            text-decoration: none; }
            .homesong .song_content .nav .title li a:not(:nth-child(4)) {
              background: url(../../img/border-r.jpg) right repeat-y; }
    .homesong .song_content .song_swiper {
      -webkit-flex: 1;
      flex: 1;
      width: 100%;
      height: 100%; }
      .homesong .song_content .song_swiper .swiper-wrapper {
        width: 100%;
        height: 100%; }
    .homesong .song_content .swiper-slide {
      width: 100%; }
      .homesong .song_content .swiper-slide .song-scoll {
        width: 100%;
        height: 100%;
        overflow-y: auto; }
        .homesong .song_content .swiper-slide .song-scoll .song_cont > div .tit {
          height: .25rem;
          color: #333333;
          background: #CCCCCC;
          padding-left: .15rem;
          line-height: .25rem; }
        .homesong .song_content .swiper-slide .song-scoll .song_cont > div > ul {
          background: #fff; }
          .homesong .song_content .swiper-slide .song-scoll .song_cont > div > ul li {
            height: .49rem;
            border-bottom: .01rem solid #C3C3C3;
            display: -webkit-flex;
            display: -moz-flex;
            display: -o-flex;
            display: -ms-flex; }
            .homesong .song_content .swiper-slide .song-scoll .song_cont > div > ul li b {
              font-size: .18rem;
              width: .44rem;
              height: .49rem;
              display: inline-block;
              line-height: .49rem;
              text-align: center; }
              .homesong .song_content .swiper-slide .song-scoll .song_cont > div > ul li b img {
                width: 100%;
                height: 100%;
                background-size: 100% 100%; }
            .homesong .song_content .swiper-slide .song-scoll .song_cont > div > ul li span {
              -webkit-flex: 1;
              flex: 1;
              line-height: .49rem;
              padding-left: .1rem; }
        .homesong .song_content .swiper-slide .song-scoll .song_cont > div .head {
          text-align: center;
          height: .3rem;
          line-height: .3rem; }
          .homesong .song_content .swiper-slide .song-scoll .song_cont > div .head img {
            width: .13rem;
            height: .13rem;
            margin-bottom: 0.02rem;
            display: inline-block;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transition: transform 150ms;
            -webkit-transition: transform 150ms; }
        .homesong .song_content .swiper-slide .song-scoll .song_cont > div .foot {
          text-align: center;
          height: .3rem;
          line-height: .3rem; }
          .homesong .song_content .swiper-slide .song-scoll .song_cont > div .foot img {
            width: .13rem;
            height: .13rem;
            margin-bottom: 0.04rem;
            display: inline-block;
            transition: transform 150ms;
            -webkit-transition: transform 150ms; }
        .homesong .song_content .swiper-slide .song-scoll .song_cont > div .up {
          transform: rotate(360deg) !important;
          -webkit-transform: rotate(360deg) !important; }
        .homesong .song_content .swiper-slide .song-scoll .song_cont > div .down {
          transform: rotate(180deg) !important;
          -webkit-transform: rotate(180deg) !important; }

footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  width: 100%;
  height: .5rem;
  background: #353535;
  border-top: .03rem solid #979797;
  position: relative; }
  footer dl, footer ul {
    -webkit-flex: 1;
    flex: 1; }
  footer img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%; }
  footer dl {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    footer dl dt {
      width: .52rem;
      padding: .05rem .08rem; }
    footer dl dd {
      -webkit-flex: 1;
      flex: 1; }
      footer dl dd span {
        display: block; }
        footer dl dd span:nth-child(1) {
          color: #fff; }
        footer dl dd span:nth-child(2) {
          color: #CCCCCC; }
        footer dl dd span:nth-child(3) {
          color: #909090; }
  footer ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    footer ul li {
      -webkit-flex: 1;
      flex: 1;
      color: #fff;
      text-align: center;
      line-height: .5rem; }
      footer ul li:not(:nth-child(2)) {
        font-size: .24rem;
        color: #b1b1b1; }
      footer ul li:nth-child(2) {
        font-size: .32rem; }
        footer ul li:nth-child(2) i:nth-child(1) {
          display: none; }
  footer .dot {
    width: 70%;
    height: .03rem;
    background: #2B8C9F;
    position: absolute;
    left: 0;
    top: -.03rem; }
    footer .dot img {
      width: .13rem;
      height: .13rem;
      position: absolute;
      right: -.05rem;
      top: -.05rem; }

.song_mark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999; }

.song_hide {
  width: 2.8rem;
  height: 3.05rem;
  font-size: .14rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999; }
  .song_hide p {
    height: .44rem;
    line-height: .44rem;
    padding-left: .1rem;
    color: #fff;
    background: #333; }
  .song_hide ul {
    background: #fff; }
    .song_hide ul li {
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex;
      height: .4rem;
      line-height: .4rem;
      border-bottom: .01rem solid #ccc; }
      .song_hide ul li i {
        width: .44rem;
        height: .4rem;
        color: #01D9FF; }
      .song_hide ul li span {
        -webkit-flex: 1;
        flex: 1;
        padding-left: .1rem; }
