@import './common.scss';
.theme-header{
  @include box-flex;
  text-align: center;
  width: 100%;
  height:.44rem;
  p{

    color:#fff;
    line-height: .44rem;
    margin-left:.20rem;
  }
  em{
    font-style: normal;
    line-height:.44rem;
    text-align: center;
    color:#fff;
    @include flex;
    margin-left:-.25rem;
  }
}
.theme-box{
  height: .02px;
  border-bottom:.01px solid #5c5c5c;
  border-top:.01px solid #262626 ;
}
.theme-nav{
  height: .33rem;
  border-bottom: 0.02rem solid #fff;
  ul{
    @include box-flex;
    li{
      @include flex;
      border-right:.02rem solid #333;
      a{
       color:#fff;
        text-decoration: none;
      }

      text-align: center;
      line-height:.33rem;

    }
    .on{
        border-bottom: 0.02rem solid #00D8FF;
      }
  }
}
.theme-contine{
  @include flex;
  width: 100%;
  overflow: hidden;
  margin-top: .03rem;
}
  .theme-flex{
    @include box-flex;
    margin-top:0.05rem;
    .theme-width1{
      width: 0.05rem;
    }
    span{
      position: relative;
      @include flex;
      margin-right:0.05rem;
      b{
        font-weight: 400;
        position: absolute;
        bottom: .10rem;
        left:10%;
        width: 80%;
        height: .18rem;
        border-radius: 0.08rem;
        background:#000;
        opacity: 0.7;
        color:#fff;
        text-align: center;
      }
      img{
        width: 100%;
        height: 100%;
        display: block;
      }
    }


  }
  #PullDown{
    text-align: center;
    width: 1rem;
    margin: 0 auto;
  }
  #PullUp{
    height: 0.3rem;
    padding-top:0.05rem;
    text-align: center;
    width: 1rem;
    margin: 0 auto;
  }

