* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }
.theme-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  text-align: center;
  width: 100%;
  height: .44rem; }
  .theme-header p {
    color: #fff;
    line-height: .44rem;
    margin-left: .20rem; }
  .theme-header em {
    font-style: normal;
    line-height: .44rem;
    text-align: center;
    color: #fff;
    -webkit-flex: 1;
    flex: 1;
    margin-left: -.25rem; }

.theme-box {
  height: .02px;
  border-bottom: .01px solid #5c5c5c;
  border-top: 0.01px solid #262626; }

.theme-nav {
  height: .33rem;
  border-bottom: 0.02rem solid #fff; }
  .theme-nav ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex; }
    .theme-nav ul li {
      -webkit-flex: 1;
      flex: 1;
      border-right: .02rem solid #333;
      text-align: center;
      line-height: .33rem; }
      .theme-nav ul li a {
        color: #fff;
        text-decoration: none; }
    .theme-nav ul .on {
      border-bottom: 0.02rem solid #00D8FF; }

.theme-contine {
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  overflow: hidden;
<<<<<<< HEAD
  margin-top: .03rem; }
=======
  margin-top: .05rem; }
>>>>>>> e584838a972f7a5bfd3c5ecc0e2d09ff4e7b20d8

.theme-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  margin-top: 0.05rem; }
  .theme-flex .theme-width1 {
    width: 0.05rem; }
  .theme-flex span {
    position: relative;
    -webkit-flex: 1;
    flex: 1;
    margin-right: 0.05rem; }
    .theme-flex span b {
      font-weight: 400;
      position: absolute;
      bottom: .10rem;
      left: 10%;
      width: 80%;
      height: .18rem;
      border-radius: 0.08rem;
      background: #000;
      opacity: 0.7;
      color: #fff;
      text-align: center; }
    .theme-flex span img {
      width: 100%;
      height: 100%;
      display: block; }
<<<<<<< HEAD

#PullDown {
  text-align: center;
  width: 1rem;
  margin: 0 auto; }

#PullUp {
  height: 0.3rem;
  padding-top: 0.05rem;
  text-align: center;
  width: 1rem;
  margin: 0 auto; }

/*# sourceMappingURL=theme.css.map */
=======
>>>>>>> e584838a972f7a5bfd3c5ecc0e2d09ff4e7b20d8
