<<<<<<< HEAD
.red {
  color: red !important; }

.orange {
  color: orange !important; }

.yellow {
  color: yellow !important; }

/*# sourceMappingURL=themecon.css.map */
=======
.theme-flex:nth-of-type(1) span:nth-of-type(1) b {
  color: red; }

.theme-flex:nth-of-type(1) span:nth-of-type(2) b {
  color: orange; }

.theme-flex:nth-of-type(1) span:nth-of-type(3) b {
  color: yellow; }
>>>>>>> e584838a972f7a5bfd3c5ecc0e2d09ff4e7b20d8
