@import './common.scss';
.wifi-header{
    width: 100%;
    height: 0.44rem;
	ul{
        @include box-flex;
            width: 100%;
            height: 100%;
        li{
            color: #fff;
            height: .44rem;
            line-height: .44rem;
            text-align: center;
            font-size: .26rem;
            &:nth-child(2){
                @include flex;
                height: .44rem;
                line-height: .44rem;
                font-size: .26rem;
            };
            &:not(:nth-child(2)){
                width: .44rem;
                height: .44rem;
            };
        }
    }
}
.wifi-xian{
    width: 100%;
    height: 0.02rem;
    background: #303030;
    margin-top: .15rem;
}
.wifi-ontent1{
	>p{
		width: 100%;
		margin-top: .5rem;
		img{
			width: 100%;
		}
	}
	.no{
		width: 100%;
		height: .36rem; 
		font-size: .3rem;
		color: #fff;
		text-align: center;
	}
	.btn{
		text-align: center;
		width: 80%;
		height: .5rem;
		background: #030303;
		color: #fff;
		font-size: .3rem;
		border:none;
		margin-left: .32rem;
	}
}