* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  position: relative; }

html {
  font-size: 100px; }

ul, ol {
  list-style: none; }

ui-view {
  width: 100%;
  height: 100%;
  position: absolute; }

@font-face {
  font-family: "iconfont";
  src: url("../../img/iconfont/iconfont.ttf");
  src: url("../../img/iconfont/iconfont.woff"); }

@font-face {
  font-family: "iconfont1";
  src: url("../../img/iconfont/font/iconfont.ttf");
  src: url("../../img/iconfont/font/iconfont.woff"); }

.wifi-header {
  width: 100%;
  height: 0.44rem; }
  .wifi-header ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    width: 100%;
    height: 100%; }
    .wifi-header ul li {
      color: #fff;
      height: .44rem;
      line-height: .44rem;
      text-align: center;
      font-size: .26rem; }
      .wifi-header ul li:nth-child(2) {
        -webkit-flex: 1;
        flex: 1;
        height: .44rem;
        line-height: .44rem;
        font-size: .26rem; }
      .wifi-header ul li:not(:nth-child(2)) {
        width: .44rem;
        height: .44rem; }

.wifi-xian {
  width: 100%;
  height: 0.02rem;
  background: #303030;
  margin-top: .15rem; }

.wifi-ontent1 > p {
  width: 100%;
  margin-top: .5rem; }
  .wifi-ontent1 > p img {
    width: 100%; }

.wifi-ontent1 .no {
  width: 100%;
  height: .36rem;
  font-size: .3rem;
  color: #fff;
  text-align: center; }

.wifi-ontent1 .btn {
  text-align: center;
  width: 80%;
  height: .5rem;
  background: #030303;
  color: #fff;
  font-size: .3rem;
  border: none;
  margin-left: .32rem; }
