<div class="songfiles homesong">
	<header class='song_head'>
		<span class="icon" ui-sref='song'>&#xe606;</span>
		<p>选择文件夹</p>
		<span class="icon" ui-sref='scan'>&#xf0025;</span>
	</header>
	<div class='file_content'>
		<ul class='file_con'>
			<li ng-repeat='item in results' ng-click="addName(show=!show)">
				<b class='icon1'>&#xe640;</b>
				<b>{{item.description}}s</b>
				<b ng-if='show' class='icon1'>&#xe623;</b>
			</li>
		</ul>
	</div>
	<div class="bot" ui-sref='search'>
		开始扫描
	</div>
</div>
