<div class="guide">
	<div class="guide-mark">
		<p>
			<img src="./img/guide-logo.jpg" alt="">
		</p>
		<p>
			<img src="./img/kuwo.png" alt="">
		</p>
		<p ng-click="goLogin()">
			登录
		</p>
		<p ng-click="goRegister()">
			注册
		</p>
	</div>
</div>