<div class="guide" ng-click="goGuide()">
	<div class="guide-mark">
		<p>
			<img src="./img/guide-logo.jpg" alt="">
		</p>
		<p>
			<img src="./img/kuwo.png" alt="">
		</p>
		<div>
			<img class="img" src="./img/kuwo1.png" alt="">
		</div>
	</div>
</div>