
<div class="con">
    <div class="container">
        <p class="index-test">
            <span class="icon">&#x3434;</span>
            <input type="text" placeholder="搜索您喜欢的歌手" class="txt" >
        </p>
        <div class="index-singer">
            <p>
                
                <b>热门歌手</b>
                <span>换一批</span>
            </p>
            <div class="dls">
                <div class="empty"></div>
                <div class="models">
                    <dl>
                        <dt><img src="./img/images/a84_03.png" alt=""></dt>
                        <dd>Lada</dd>
                    </dl>
                    <div class="empty"></div>
                </div>
                <div class="models">
                    <dl>
                        <dt><img src="./img/images/a86_03.png" alt=""></dt>
                        <dd>Galary</dd>
                    </dl>
                    <div class="empty"></div>
                </div>
                <div class="models">
                    <dl>
                        <dt><img src="./img/images/a87_03.png" alt=""></dt>
                        <dd>Adele</dd>
                    </dl>
                    <div class="empty"></div>
                </div>
                <div class="models">
                    <dl>
                        <dt><img src="./img/images/a88_03.png" alt=""></dt>
                        <dd>Rienty</dd>
                    </dl>
                    <div class="empty"></div>
                </div>

            </div>
            <div class="dls">
                <div class="empty"></div>
                <dl>
                    <dt><img src="./img/images/a89_03.png" alt=""></dt>
                    <dd>Rihnan</dd>
                </dl>
                <div class="empty"></div>
                <dl>
                    <dt><img src="./img/images/a90_22.png" alt=""></dt>
                    <dd>Perry</dd>
                </dl>
                <div class="empty"></div>
                <dl>
                    <dt><img src="./img/images/a91_03.png" alt=""></dt>
                    <dd>Kally</dd>
                </dl>
                <div class="empty"></div>
                <dl>
                    <dt><img src="./img/images/a92_03.png" alt=""></dt>
                    <dd>Lenka</dd>
                </dl>
                <div class="empty"></div>
            </div>
        </div>
        <div class="index-girl">
            <p><span>华语男歌手</span><b> ></b></p>
            <p><span>华语女歌手</span><b> ></b></p>
            <p><span>华语组合</span><b> ></b></p>
        </div>
        <div class="index-girl">
            <p><span>欧美时尚</span><b> ></b></p>
            <p><span>欧美歌手</span><b> ></b></p>
            <p><span>欧美组合</span><b> ></b></p>
        </div>
    </div>

</div>





