
<div class="con">
    <div class="swiper-container index-banner">
        <ul class="swiper-wrapper">
            <li class="swiper-slide"><img src="./img/images/4.jpg" alt=""></li>
            <li class="swiper-slide"><img src="./img/images/5.jpg" alt=""></li>
            <li class="swiper-slide"><img src="./img/images/6.jpg" alt=""></li>
        </ul>
    </div>

    <div class="index-pics">
            <div class="empty"></div>
            <dl>
                <dt><img src="./img/images/a98.png" alt=""></dt>
                <dd>最新榜单</dd>
            </dl>
            <div class="empty"></div>
            <dl>
                <dt><img src="./img/images/a97.png" alt=""></dt>
                <dd>歌手推荐</dd>
            </dl>
            <div class="empty"></div>

    </div>
    <div class="index-pics">
            <div class="empty"></div>
            <dl>
                <dt><img src="./img/images/a96.png" alt=""></dt>
                <dd>新歌首发</dd>
            </dl>
            <div class="empty"></div>
            <dl>
                <dt><img src="./img/images/a95.png" alt=""></dt>
                <dd>最新MV</dd>
            </dl>
            <div class="empty"></div>

        </div>
    <div class="index-pics">
        <div class="empty"></div>
        <dl>
            <dt><img src="./img/images/8.jpg" alt=""></dt>
            <dd>baby首秀</dd>
        </dl>
        <div class="empty"></div>
        <dl>
            <dt><img src="./img/images/9.jpg" alt=""></dt>
            <dd>秦岚专辑</dd>
        </dl>
        <div class="empty"></div>

    </div>
    <div class="index-pics">
        <div class="empty"></div>
        <dl>
            <dt><img src="./img/images/10.jpg" alt=""></dt>
            <dd>新剧最爆</dd>
        </dl>
        <div class="empty"></div>
        <dl>
            <dt><img src="./img/images/11.jpg" alt=""></dt>
            <dd>最新男神</dd>
        </dl>
        <div class="empty"></div>

    </div>
</div>



