

<div class="con">
    <div class="swiper-container index-bannerHome">
        <ul class="swiper-wrapper uls">
            <li class="swiper-slide"><img src="./img/images/1.jpg" alt=""></li>
            <li class="swiper-slide"><img src="./img/images/2.jpg" alt=""></li>
            <li class="swiper-slide"><img src="./img/images/3.jpg" alt=""></li>
        </ul>
    </div>
    <div class="index-phone">
        <div class="pholet">
           <img src="./img/images/a78.png" alt="">
            <p>下载</p>
        </div>
        <div class="ril">
            <dl>
                <dt><img src="./img/images/a77.png" alt=""></dt>
                <dd>我喜欢</dd>
            </dl>
            <dl>
                <dt><img src="./img/images/a76.png" alt=""></dt>
                <dd>歌单</dd>
            </dl>
        </div>
    </div>
</div>


