<div class="wrapper">
	<ul class="index-header">
		<li>
			<span class="icon" id="menu" ui-sref="menu">&#xf0025;</span>
		</li>
		<li><b>首 页</b></li>
		<li></li>
	</ul>
	<nav class="index-nav">
		<ul>
			<li ui-sref="index.index-home" ui-sref-active="on">我的</li>
			<li ui-sref="index.index-Recommend" ui-sref-active="on">推荐</li>
			<li ui-sref="index.index-Ranking" ui-sref-active="on">排行</li>
			<li ui-sref="index.index-classification" ui-sref-active="on">分类</li>
		</ul>
	</nav>

	<div ui-view class="content">

	</div>

	<footer>
		<audio id="music" src="{{musicArr.src}}"></audio>
		<dl>
			<dt><img ng-src="{{musicArr.img}}" alt=""></dt>
			<dd>
				<span>{{musicArr.time}}</span>
				<span>{{musicArr.name}}</span>
				<span>{{musicArr.author}}</span>
			</dd>
		</dl>
		<ul>
			<li>
				<i class='icon1' ng-click="goPrev()">&#xe622;</i>
			</li>
			<li id="musicPlay" ng-click="goPlay()">
				<i class="icon1">&#xe60f;</i>
				<i class="icon1">&#xe62f;</i>
			</li>
			<li>
				<i class='icon1' ng-click="goNext()">&#xe624;</i>
			</li>
		</ul>
		<div class='dot'><img src="./img/dog.png"></div>
	</footer>
</div>