<div class="wrapper">
	<div class="singer-head">
		<ul>
			<li class="icon" ng-click="backGuide()">&#xe606;</li>

			<li>登录</li>
			<li></li>
		</ul>
	</div>
	<div class="login-con">
		<ul>

			<li>
				<img src="./img/ku.jpg" alt="">
			</li>
			<li>
				点击登录
			</li>
			<li>
				账号：
				<input type="text" ng-model="user">
			</li>
			<li>
				密码：	
				<input type="password" ng-model="pwd">
			</li>
			<li>
				<input type="checkbox" ng-click="remPwd()" ng-model="bool">
				记住密码
			</li>
			<li>
				<p ng-click="checkLogin()">登录</p>
			</li>
			<li>
				忘记密码？
			</li>
		</ul>
	</div>
</div>