
<div class="wrapper">
    <ul class="menu-header">
        <li>
            <span class="icon" ui-sref="index.index-home">&#xe606;</span>
        </li>
        <li><b>菜单导航</b></li>
        <li></li>

    </ul>
    <div class="menu-banner">
        <div class="imgs">
            <p><img src="./img/images/a92_03.png" ></p>
            <b>Angela baby</b>
        </div>
    </div>

    <div class="menu-nav">
        <ul>

            <li ui-sref="index.index-home" ng-click="getClass(0)" ng-class="{'in':isshow[0]}"><span class="icon">&#xe60b;</span><b>音乐广场</b></li>
            <li ui-sref="theme" ng-click="getClass(1)" ng-class="{'in':isshow[1]}"><span class="icon">&#xe609;</span><b>百变主题</b></li>
            <li ui-sref='song' ng-click="getClass(2)" ng-class="{'in':isshow[2]}"><span class="icon">&#xe60a;</span><b>全部歌曲</b></li>
            <li ui-sref='search' ng-click="getClass(3)" ng-class="{'in':isshow[3]}"><span class="icon">&#x3434;</span><b>搜索　　</b></li>
            <li ng-click="getClass(4)" ng-class="{'in':isshow[4]}"><span class="icon">&#xe630;</span><b>音效　　</b></li>
            <li ng-click="getClass(5)" ng-class="{'in':isshow[5]}"><span class="icon">&#xe628;</span><b>听歌识曲</b></li>
            <li ng-click="getClass(6)" ng-class="{'in':isshow[6]}"><span class="icon">&#xe620;</span><b>更多　　</b></li>

        </ul>
    </div>
</div>

