
<div class="wrapper">
	<div class="wu-header1">
		<ul>
			<li class="icon" ui-sref='menu'>&#xe606;</li>
			<li>Valen Tine</li>
			<li></li>
		</ul>
	</div>
	<div class="wu-ontent">
		<p><img ng-src="{{img}}" alt=""></p>
		<div class="wu-text">
			<p>{{name}}</p>
			<p>{{des}}</p>	
		</div>
		<div class="wu-xian"></div>
		<ul>
			<li><span class="icon">&#xe65e;</span>2613</li>
			<li><span class="icon">&#xe639;</span>4799</li>
			<li><span class="icon">&#xe608;</span>1457</li>
		</ul>
		<div class="wu-xian1">
			<span></span>
			<p>01.24</p>
			<p></p>
			<p>-03.26</p>
		</div>
		<div class="wu-pop">
			<span><img src="./img/left.jpg" alt=""></span>
			<span><img src="./img/pop.jpg" alt=""></span>
			<span><img src="./img/right.jpg" alt=""></span>
		</div>
	</div>
</div>
