<div class="wrapper">
	<div class="singer-head">
		<ul>
			<li class="icon" ng-click="backGuide()">&#xe606;</li>
			<li>注册</li>
			<li></li>
		</ul>
	</div>
	<div class="res-con">
		<ul>
			<li>
				账　号:
				<input type="text" ng-model="names" placeholder="请输入6-12的账号">
			</li>
			<li>
				密　码:
				<input type="password" ng-model="pwd">
			</li>
			<li>
				手机号:
				<input type="text"  ng-model="phones" >
			</li>
			<li>
				 验证码:
				<input type="text" >
				<a href="#">换一张</a>
			</li>
			<li class="submit" ng-click="checkRegister()">
				提交
			</li>
			<li class="instructions">
				帮助说明
			</li>
		</ul>
	</div>

</div>