<div class="scan homesong">
	<header class='song_head'>
		<span class="icon" ui-sref='files'>&#xe606;</span>
		<p>扫描设置</p>
		<span class="icon">&#xf0025;</span>
	</header>

	<div class='file_cont'>
		<ul class='file'>
			<li ng-repeat='item in arr'>
				<b>{{item}}</b>
				<b>
					<input type="checkbox"><label for="check" ng-click="checkTo(val=!val)" ng-class="{'active':val}"></label>
				</b>
			</li>
		</ul>
	</div>
</div>

