<div class='search'>
	<header class='song_head'>
		<span class="icon" ui-sref='menu'>&#xf0025;</span>
		<p>搜索</p>
		<span></span>
	</header>
	<div class="song_content">
		<div class="search_case">
			<p>
				<i class="icon">&#x3434;</i>
				<label for="">
					<input type="text" placeholder='Lady Ga Ga' ng-model='textName'>
				</label>
			</p>
			<p>取消</p>
		</div>
		<div class="song-scoll">
			<div class="song_cont">
				<div>
					<ul ng-repeat='item in obj | filter:give:value' ng-if='$index!=3'>
						<li ui-sref="music({ img:item.allpicImg, des:item.description, name:item.name})">
							<b><img ng-src="{{item.allpicImg}}"></b>
							<span>{{item.description}}s</span>
							<b class='icon'>&#xe7d6;</b>
						</li>
					</ul>
					
				</div>
			</div>
		</div>

	</div>
	<footer>
		<audio id="music" src="{{musicArr.src}}"></audio>
		<dl>
			<dt><img ng-src="{{musicArr.img}}" alt=""></dt>
			<dd>
				<span>{{musicArr.time}}</span>
				<span>{{musicArr.name}}</span>
				<span>{{musicArr.author}}</span>
			</dd>
		</dl>
		<ul>
			<li>
				<i class='icon1' ng-click="goPrev()">&#xe622;</i>
			</li>
			<li id="musicPlay" ng-click="goPlay()">
				<i class="icon1">&#xe60f;</i>
				<i class="icon1">&#xe62f;</i>
			</li>
			<li>
				<i class='icon1' ng-click="goNext()">&#xe624;</i>
			</li>
		</ul>
		<div class='dot'><img src="./img/dog.png"></div>
	</footer>
</div>