<div class="wrapper">
	<div class="singer-head">
		<ul>
			<li class="icon" ui-sref="search">&#xe606;</li>
			<li>歌手</li>
			<li></li>
		</ul>
	</div>
	<div class="singer-con" >
		<div class="singer-info">
			<ul>
				<li><img src="./img/singer-head.gif" alt=""></li>
				<li>Angela baby</li>
				<li>粉丝：7899</li>
				<p>关注</p>
			</ul>
		</div>
		<div class="singer-nav" id="singer-nav">
			<ul>
				<li class="singer-active"><i>687</i><b>歌曲</b></li>
				<li><i>25</i><b>专辑</b></li>
				<li><i>189</i><b>歌单</b></li>
				<li><i>379</i><b>MV</b></li>
			</ul>
		</div>
		<div class="singer-song swiper-container">
		<div class=" swiper-wrapper"  >
			<div class="swiper-slide" id="singer-scroll">
				<ul id="singer-data" style="height:450px">
					<li ng-repeat="s in songList">
						<span>{{s.songId}}.</span>
						<span>{{s.songName}}</span>
						<span class="icon">&#xe7d6;</span>
					</li>
				</ul>
			</div>
			<div class="swiper-slide">
				<ul class="swiper-slide">
					<li ng-repeat="s in special">
						<span><img ng-src="{{s.allpicImg}}" alt=""></span>
						<span>{{s.description}}</span>
						<span class="icon">&#xe7d6;</span>
					</li>
				</ul>
			</div>
			<div class="swiper-slide">
				<ul class="swiper-slide">
					<li ng-repeat="s in special">
						<span><img ng-src="{{s.allpicImg}}" alt=""></span>
						<span>{{s.description}}</span>
						<span class="icon">&#xe7d6;</span>
					</li>
				</ul>
			</div>
			<div class="swiper-slide">
				<ul class="swiper-slide">
					<li ng-repeat="s in special">
						<span><img ng-src="{{s.allpicImg}}" alt=""></span>
						<span>{{s.description}}</span>
						<span class="icon">&#xe7d6;</span>
					</li>
				</ul>
			</div>
		</div>
		</div>
	</div>
	<div class="singer-foot">
		<dl>
			<dt><img src="./img/play-img.jpg" alt=""></dt>
			<dd>
				<span>2:23</span>
				<span>Let Her Go</span>
				<span>Josion Chen</span>
			</dd>
		</dl>
		<ul>
			<li>
				<i class='icon1'>&#xe622;</i>
			</li>
			<li>
				<i class="icon1">&#xe60f;</i>
				<i class="icon1">&#xe62f;</i>
			</li>
			<li>
				<i class='icon1'>&#xe624;</i>
			</li>
		</ul>
		<div class='dot'><img src="./img/dog.png"></div>
	</div>
</div>

