<div class="homesong">
	<header class='song_head'>
		<span class="icon" ui-sref='menu'>&#xf0025;</span>
		<p>全部歌曲</p>
		<span></span>
	</header>
	<div class='song_content'>
		<nav class='nav'>
			<ul id='title' class='title'>
				<li ng-repeat='(key,val) in result.allpicTit' ng-click="matte($index)" ng-class="{'active':!$index}"><a href="javascript:void(0);">{{val}}</a></li>
			</ul>
		</nav>
		

		<div class="song_swiper swiper-container" id='song_swiper'>
		    <div class="swiper-wrapper">
		        <div class="swiper-slide">
		        	<div class="song-scoll">
						<div class="song_cont">
								<div>
									 <div class="head">
	                                     <img ng-src="./img/arrow.png" >
	                                     <span>下拉刷新</span>
	                                  </div>
									<div class="tit">{{arr[0]}}</div>
									<ul>
										<li ng-repeat='(key,val) in result.allpicList[0]'>
											<b><img ng-src="{{val.allpicImg}}"></b>
											<span>{{val.description}}s</span>
											<b class='icon'>&#xe7d6;</b>
										</li>
									</ul>
									<div class="foot">
                                      <img ng-src="./img/arrow.png" >
                                      <span>上拉加载</span>
                                   </div>
								</div>
						</div>
					</div>
		        </div>
		        <div class="swiper-slide">
		        	<div class="song-scoll">
						<div class="song_cont">
								<div>
									<div class="tit">{{arr[1]}}</div>
									<ul>
										<li ng-repeat='(key,val) in result.allpicList[1]'>
											<b><img ng-src="{{val.allpicImg}}"></b>
											<span>{{val.description}}s</span>
											<b class='icon'>&#xe7d6;</b>
										</li>
									</ul>
								</div>
						</div>
					</div>
		        </div>
		        <div class="swiper-slide">
		        	<div class="song-scoll">
						<div class="song_cont">
								<div>
									<div class="tit">{{arr[2]}}</div>
									<ul>
										<li ng-repeat='(key,val) in result.allpicList[2]'>
											<b><img ng-src="{{val.allpicImg}}"></b>
											<span>{{val.description}}s</span>
											<b class='icon'>&#xe7d6;</b>
										</li>
									</ul>
								</div>
						</div>
					</div>
		        </div>
		    </div>
		</div>

	</div>
	<footer>
		<audio id="music" src="{{musicArr.src}}"></audio>
		<dl>
			<dt><img ng-src="./img/play-img.jpg" alt=""></dt>
			<dt><img ng-src="{{musicArr.img}}" alt=""></dt>
			<dd>
				<span>{{musicArr.time}}</span>
				<span>{{musicArr.name}}</span>
				<span>{{musicArr.author}}</span>
			</dd>
		</dl>
		<ul>
			<li>
				<i class='icon1' ng-click="goPrev()">&#xe622;</i>
			</li>
			<li id="musicPlay" ng-click="goPlay()">
				<i class="icon1">&#xe60f;</i>
				<i class="icon1">&#xe62f;</i>
			</li>
			<li>
				<i class='icon1' ng-click="goNext()">&#xe624;</i>
			</li>
		</ul>
		<div class='dot'><img src="./img/dog.png"></div>
	</footer>
</div>
