<div class="swipe-container swiper">
    <div id="PullDown" class="scroller-pullDown" style="display: none;">
        <img style="width: 20px; height: 20px;" ng-src="./img/ajax-loader.gif"/>
        <span id="pullDown-msg" class="pull-down-msg">下拉刷新</span>
    </div>
    <div class="theme-flex" ng-repeat="( index, item) in themearr2">
        <div class="theme-width1"></div>
        <span ng-show="item[0]"><img ng-src={{item[0].topicImg}} alt=""><b
                ng-class=" { red : ( index == 0 && $index == 0 ) }">{{item[0].topicTitle}}</b></span>
        <span ng-hide="item[0]"></span>
        <span ng-show="item[1]"><img ng-src={{item[1].topicImg}} alt=""><b
                ng-class=" { orange : ( index == 0 && $index == 0 ) }">{{item[1].topicTitle}}</b></span>
        <span ng-hide="item[1]"></span>
        <span ng-show="item[2]"><img ng-src={{item[2].topicImg}} alt=""><b
                ng-class=" { yellow : ( index == 0 && $index == 0 ) }">{{item[2].topicTitle}}</b></span>
        <span ng-hide="item[2]"></span>
    </div>
    <div id="PullUp" class="scroller-pullUp" style="display: none;">
        <img style="width: 20px; height: 20px;" ng-src="./img/ajax-loader.gif"/>
        <span id="pullUp-msg" class="pull-up-msg">上拉加载</span>
    </div>
</div>






