<div class="wrapper">
	<div class="wifi-header">
		<ul>
			<li class="icon">&#xe606;</li>
			<li>菜单导航</li>
			<li class="icon">&#xf0025;</li>
		</ul>
	</div>
	<div class="wifi-xian"></div>
	<div class="wifi-ontent1">
		<p><img src="./img/Wifi-2.png" alt=""></p>
		<div class="no"><b>您还没有开启Wifi</b></div>
		<button class="btn">点击开启</button>
	</div>
	<div class="wifi-footer"></div>
</div>